# pyspark 라이브러리 불러오기

In [342]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

In [343]:
spark = SparkSession.builder.getOrCreate()

In [344]:
spark

# 데이터 읽어오기 
* spark.read.csv("파일경로", 옵션)

In [150]:
pwd

'/home/himedia'

In [345]:
df = spark.read.csv("./data/Taitanic_train.csv", header=True)

In [353]:
df4 = df

In [347]:
# 데이터 프레임 내용출력 .show()
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# 스키마 보기
* .printSchema()

In [348]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

# 데이터보기 
* df.show()

In [349]:
# df.show() pandas의 head() 기본 20줄
# 괄호 안에 숫자를 넣으면 그 숫자만큼 출력
df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [354]:
df2 = spark.read.csv("./data/airline_on_time/2008.csv", header=True)
df2.show(3)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   1343|      1325|   1451|      1435|           WN|      588| N240WN|               68|            70|     55|      16|      18|   HOU| LIT|     393|     4|      9|        0|            null|       0|          16|           0|       0|            0|                0|
|2008|    1|         3|        4|   1125|      1120|   1247|      1245|           WN|     1343| N523SW|               82|            85|     71|       2|       5|   HOU| MAF|     441|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   2009|      2015|   2136|      2140|           WN|     3841| N280WN|               87|            85|     71|      -4|      -6|   HOU| MAF|     441|     2|     14|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 3 rows

In [355]:
df2.show(3, vertical=True)

-RECORD 0-------------------
 Year              | 2008
 Month             | 1
 DayofMonth        | 3
 DayOfWeek         | 4
 DepTime           | 1343
 CRSDepTime        | 1325
 ArrTime           | 1451
 CRSArrTime        | 1435
 UniqueCarrier     | WN
 FlightNum         | 588
 TailNum           | N240WN
 ActualElapsedTime | 68
 CRSElapsedTime    | 70
 AirTime           | 55
 ArrDelay          | 16
 DepDelay          | 18
 Origin            | HOU
 Dest              | LIT
 Distance          | 393
 TaxiIn            | 4
 TaxiOut           | 9
 Cancelled         | 0
 CancellationCode  | null
 Diverted          | 0
 CarrierDelay      | 16
 WeatherDelay      | 0
 NASDelay          | 0
 SecurityDelay     | 0
 LateAircraftDelay | 0
-RECORD 1-------------------
 Year              | 2008
 Month             | 1
 DayofMonth        | 3
 DayOfWeek         | 4
 DepTime           | 1125
 CRSDepTime        | 1120
 ArrTime           | 1247
 CRSArrTime        | 1245
 UniqueCarrier     | WN
 FlightNum         | 1343
 TailNum           | N523SW
 ActualElapsedTime | 82
 CRSElapsedTime    | 85
 AirTime           | 71
 ArrDelay          | 2
 DepDelay          | 5
 Origin            | HOU
 Dest              | MAF
 Distance          | 441
 TaxiIn            | 3
 TaxiOut           | 8
 Cancelled         | 0
 CancellationCode  | null
 Diverted          | 0
 CarrierDelay      | NA
 WeatherDelay      | NA
 NASDelay          | NA
 SecurityDelay     | NA
 LateAircraftDelay | NA
-RECORD 2-------------------
 Year              | 2008
 Month             | 1
 DayofMonth        | 3
 DayOfWeek         | 4
 DepTime           | 2009
 CRSDepTime        | 2015
 ArrTime           | 2136
 CRSArrTime        | 2140
 UniqueCarrier     | WN
 FlightNum         | 3841
 TailNum           | N280WN
 ActualElapsedTime | 87
 CRSElapsedTime    | 85
 AirTime           | 71
 ArrDelay          | -4
 DepDelay          | -6
 Origin            | HOU
 Dest              | MAF
 Distance          | 441
 TaxiIn            | 2
 TaxiOut           | 14
 Cancelled         | 0
 CancellationCode  | null
 Diverted          | 0
 CarrierDelay      | NA
 WeatherDelay      | NA
 NASDelay          | NA
 SecurityDelay     | NA
 LateAircraftDelay | NA
only showing top 3 rows

In [356]:
import pandas as pd
df3 = pd.read_csv("./data/airline_on_time/2008.csv")
df3.head(3)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# 컬럼 이름 출력
* 데이터프레임.columns

In [357]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [358]:
df2.columns

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

# 기초 통계량 보기
* pandas의 describe()와 동일
* .describe()

In [359]:
df.describe().show(vertical=True)

-RECORD 0---------------------------
 summary     | count
 PassengerId | 891
 Survived    | 891
 Pclass      | 891
 Name        | 891
 Sex         | 891
 Age         | 714
 SibSp       | 891
 Parch       | 891
 Ticket      | 891
 Fare        | 891
 Cabin       | 204
 Embarked    | 889
-RECORD 1---------------------------
 summary     | mean
 PassengerId | 446.0
 Survived    | 0.3838383838383838
 Pclass      | 2.308641975308642
 Name        | null
 Sex         | null
 Age         | 29.69911764705882
 SibSp       | 0.5230078563411896
 Parch       | 0.38159371492704824
 Ticket      | 260318.54916792738
 Fare        | 32.2042079685746
 Cabin       | null
 Embarked    | null
-RECORD 2---------------------------
 summary     | stddev
 PassengerId | 257.3538420152301
 Survived    | 0.48659245426485753
 Pclass      | 0.8360712409770491
 Name        | null
 Sex         | null
 Age         | 14.526497332334035
 SibSp       | 1.1027434322934315
 Parch       | 0.8060572211299488
 Ticket      | 471609.26868834975
 Fare        | 49.69342859718089
 Cabin       | null
 Embarked    | null
-RECORD 3---------------------------
 summary     | min
 PassengerId | 1
 Survived    | 0
 Pclass      | 1
 Name        | "Andersson, Mr. A...
 Sex         | female
 Age         | 0.42
 SibSp       | 0
 Parch       | 0
 Ticket      | 110152
 Fare        | 0
 Cabin       | A10
 Embarked    | C
-RECORD 4---------------------------
 summary     | max
 PassengerId | 99
 Survived    | 1
 Pclass      | 3
 Name        | van Melkebeke, Mr...
 Sex         | male
 Age         | 9
 SibSp       | 8
 Parch       | 6
 Ticket      | WE/P 5735
 Fare        | 93.5
 Cabin       | T
 Embarked    | S

# 데이터 프레임의 모든 정보 보기, 일부만 보기
* .collect() 모든 데이터 출력
* .head() 첫 줄만 출력(괄호 안에 출력할 행 개수 지정 가능)
* .take(숫자)지정한 숫자만큼 출력(숫자 지정 필수)
* .tail(숫자)지정한 숫자만큼 끝에서부터 출력(숫자 지정 필수)

In [360]:
df.collect()

[Row(PassengerId='1', Survived='0', Pclass='3', Name='Braund, Mr. Owen Harris', Sex='male', Age='22', SibSp='1', Parch='0', Ticket='A/5 21171', Fare='7.25', Cabin=None, Embarked='S'),
 Row(PassengerId='2', Survived='1', Pclass='1', Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age='38', SibSp='1', Parch='0', Ticket='PC 17599', Fare='71.2833', Cabin='C85', Embarked='C'),
 Row(PassengerId='3', Survived='1', Pclass='3', Name='Heikkinen, Miss. Laina', Sex='female', Age='26', SibSp='0', Parch='0', Ticket='STON/O2. 3101282', Fare='7.925', Cabin=None, Embarked='S'),
 Row(PassengerId='4', Survived='1', Pclass='1', Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age='35', SibSp='1', Parch='0', Ticket='113803', Fare='53.1', Cabin='C123', Embarked='S'),
 Row(PassengerId='5', Survived='0', Pclass='3', Name='Allen, Mr. William Henry', Sex='male', Age='35', SibSp='0', Parch='0', Ticket='373450', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='6', Survived='0', Pclass='3', Name='Moran, Mr. James', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='330877', Fare='8.4583', Cabin=None, Embarked='Q'),
 Row(PassengerId='7', Survived='0', Pclass='1', Name='McCarthy, Mr. Timothy J', Sex='male', Age='54', SibSp='0', Parch='0', Ticket='17463', Fare='51.8625', Cabin='E46', Embarked='S'),
 Row(PassengerId='8', Survived='0', Pclass='3', Name='Palsson, Master. Gosta Leonard', Sex='male', Age='2', SibSp='3', Parch='1', Ticket='349909', Fare='21.075', Cabin=None, Embarked='S'),
 Row(PassengerId='9', Survived='1', Pclass='3', Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age='27', SibSp='0', Parch='2', Ticket='347742', Fare='11.1333', Cabin=None, Embarked='S'),
 Row(PassengerId='10', Survived='1', Pclass='2', Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age='14', SibSp='1', Parch='0', Ticket='237736', Fare='30.0708', Cabin=None, Embarked='C'),
 Row(PassengerId='11', Survived='1', Pclass='3', Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age='4', SibSp='1', Parch='1', Ticket='PP 9549', Fare='16.7', Cabin='G6', Embarked='S'),
 Row(PassengerId='12', Survived='1', Pclass='1', Name='Bonnell, Miss. Elizabeth', Sex='female', Age='58', SibSp='0', Parch='0', Ticket='113783', Fare='26.55', Cabin='C103', Embarked='S'),
 Row(PassengerId='13', Survived='0', Pclass='3', Name='Saundercock, Mr. William Henry', Sex='male', Age='20', SibSp='0', Parch='0', Ticket='A/5. 2151', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='14', Survived='0', Pclass='3', Name='Andersson, Mr. Anders Johan', Sex='male', Age='39', SibSp='1', Parch='5', Ticket='347082', Fare='31.275', Cabin=None, Embarked='S'),
 Row(PassengerId='15', Survived='0', Pclass='3', Name='Vestrom, Miss. Hulda Amanda Adolfina', Sex='female', Age='14', SibSp='0', Parch='0', Ticket='350406', Fare='7.8542', Cabin=None, Embarked='S'),
 Row(PassengerId='16', Survived='1', Pclass='2', Name='Hewlett, Mrs. (Mary D Kingcome) ', Sex='female', Age='55', SibSp='0', Parch='0', Ticket='248706', Fare='16', Cabin=None, Embarked='S'),
 Row(PassengerId='17', Survived='0', Pclass='3', Name='Rice, Master. Eugene', Sex='male', Age='2', SibSp='4', Parch='1', Ticket='382652', Fare='29.125', Cabin=None, Embarked='Q'),
 Row(PassengerId='18', Survived='1', Pclass='2', Name='Williams, Mr. Charles Eugene', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='244373', Fare='13', Cabin=None, Embarked='S'),
 Row(PassengerId='19', Survived='0', Pclass='3', Name='Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', Sex='female', Age='31', SibSp='1', Parch='0', Ticket='345763', Fare='18', Cabin=None, Embarked='S'),
 Row(PassengerId='20', Survived='1', Pclass='3', Name='Masselmani, Mrs. Fatima', Sex='female', Age=None, SibSp='0', Parch='0', Ticket='2649', Fare='7.225', Cabin=None, Embarked='C'),
 Row(PassengerId='21', Survived='0', Pclass='2', Name='Fynney, Mr. Joseph J', Sex='male', Age='35', SibSp='0', Parch='0', Ticket='239865', Fare='26', Cabin=None, Embarked='S'),
 Row(PassengerId='22', Survived='1', Pclass='2', Name='Beesley, Mr. Lawrence', Sex='male', Age='34', SibSp='0', Parch='0', Ticket='248698', Fare='13', Cabin='D56', Embarked='S'),
 Row(PassengerId='23', Survived='1', Pclass='3', Name='"McGowan, Miss. Anna ""Annie"""', Sex='female', Age='15', SibSp='0', Parch='0', Ticket='330923', Fare='8.0292', Cabin=None, Embarked='Q'),
 Row(PassengerId='24', Survived='1', Pclass='1', Name='Sloper, Mr. William Thompson', Sex='male', Age='28', SibSp='0', Parch='0', Ticket='113788', Fare='35.5', Cabin='A6', Embarked='S'),
 Row(PassengerId='25', Survived='0', Pclass='3', Name='Palsson, Miss. Torborg Danira', Sex='female', Age='8', SibSp='3', Parch='1', Ticket='349909', Fare='21.075', Cabin=None, Embarked='S'),
 Row(PassengerId='26', Survived='1', Pclass='3', Name='Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', Sex='female', Age='38', SibSp='1', Parch='5', Ticket='347077', Fare='31.3875', Cabin=None, Embarked='S'),
 Row(PassengerId='27', Survived='0', Pclass='3', Name='Emir, Mr. Farred Chehab', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='2631', Fare='7.225', Cabin=None, Embarked='C'),
 Row(PassengerId='28', Survived='0', Pclass='1', Name='Fortune, Mr. Charles Alexander', Sex='male', Age='19', SibSp='3', Parch='2', Ticket='19950', Fare='263', Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId='29', Survived='1', Pclass='3', Name='"O\'Dwyer, Miss. Ellen ""Nellie"""', Sex='female', Age=None, SibSp='0', Parch='0', Ticket='330959', Fare='7.8792', Cabin=None, Embarked='Q'),
 Row(PassengerId='30', Survived='0', Pclass='3', Name='Todoroff, Mr. Lalio', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='349216', Fare='7.8958', Cabin=None, Embarked='S'),
 Row(PassengerId='31', Survived='0', Pclass='1', Name='Uruchurtu, Don. Manuel E', Sex='male', Age='40', SibSp='0', Parch='0', Ticket='PC 17601', Fare='27.7208', Cabin=None, Embarked='C'),
 Row(PassengerId='32', Survived='1', Pclass='1', Name='Spencer, Mrs. William Augustus (Marie Eugenie)', Sex='female', Age=None, SibSp='1', Parch='0', Ticket='PC 17569', Fare='146.5208', Cabin='B78', Embarked='C'),
 Row(PassengerId='33', Survived='1', Pclass='3', Name='Glynn, Miss. Mary Agatha', Sex='female', Age=None, SibSp='0', Parch='0', Ticket='335677', Fare='7.75', Cabin=None, Embarked='Q'),
 Row(PassengerId='34', Survived='0', Pclass='2', Name='Wheadon, Mr. Edward H', Sex='male', Age='66', SibSp='0', Parch='0', Ticket='C.A. 24579', Fare='10.5', Cabin=None, Embarked='S'),
 Row(PassengerId='35', Survived='0', Pclass='1', Name='Meyer, Mr. Edgar Joseph', Sex='male', Age='28', SibSp='1', Parch='0', Ticket='PC 17604', Fare='82.1708', Cabin=None, Embarked='C'),
 Row(PassengerId='36', Survived='0', Pclass='1', Name='Holverson, Mr. Alexander Oskar', Sex='male', Age='42', SibSp='1', Parch='0', Ticket='113789', Fare='52', Cabin=None, Embarked='S'),
 Row(PassengerId='37', Survived='1', Pclass='3', Name='Mamee, Mr. Hanna', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='2677', Fare='7.2292', Cabin=None, Embarked='C'),
 Row(PassengerId='38', Survived='0', Pclass='3', Name='Cann, Mr. Ernest Charles', Sex='male', Age='21', SibSp='0', Parch='0', Ticket='A./5. 2152', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='39', Survived='0', Pclass='3', Name='Vander Planke, Miss. Augusta Maria', Sex='female', Age='18', SibSp='2', Parch='0', Ticket='345764', Fare='18', Cabin=None, Embarked='S'),
 Row(PassengerId='40', Survived='1', Pclass='3', Name='Nicola-Yarred, Miss. Jamila', Sex='female', Age='14', SibSp='1', Parch='0', Ticket='2651', Fare='11.2417', Cabin=None, Embarked='C'),
 Row(PassengerId='41', Survived='0', Pclass='3', Name='Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', Sex='female', Age='40', SibSp='1', Parch='0', Ticket='7546', Fare='9.475', Cabin=None, Embarked='S'),
 Row(PassengerId='42', Survived='0', Pclass='2', Name='Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', Sex='female', Age='27', SibSp='1', Parch='0', Ticket='11668', Fare='21', Cabin=None, Embarked='S'),
 Row(PassengerId='43', Survived='0', Pclass='3', Name='Kraeff, Mr. Theodor', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='349253', Fare='7.8958', Cabin=None, Embarked='C'),
 Row(PassengerId='44', Survived='1', Pclass='2', Name='Laroche, Miss. Simonne Marie Anne Andree', Sex='female', Age='3', SibSp='1', Parch='2', Ticket='SC/Paris 2123', Fare='41.5792', Cabin=None, Embarked='C'),
 Row(PassengerId='45', Survived='1', Pclass='3', Name='Devaney, Miss. Margaret Delia', Sex='female', Age='19', SibSp='0', Parch='0', Ticket='330958', Fare='7.8792', Cabin=None, Embarked='Q'),
 Row(PassengerId='46', Survived='0', Pclass='3', Name='Rogers, Mr. William John', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='S.C./A.4. 23567', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='47', Survived='0', Pclass='3', Name='Lennon, Mr. Denis', Sex='male', Age=None, SibSp='1', Parch='0', Ticket='370371', Fare='15.5', Cabin=None, Embarked='Q'),
 Row(PassengerId='48', Survived='1', Pclass='3', Name="O'Driscoll, Miss. Bridget", Sex='female', Age=None, SibSp='0', Parch='0', Ticket='14311', Fare='7.75', Cabin=None, Embarked='Q'),
 Row(PassengerId='49', Survived='0', Pclass='3', Name='Samaan, Mr. Youssef', Sex='male', Age=None, SibSp='2', Parch='0', Ticket='2662', Fare='21.6792', Cabin=None, Embarked='C'),
 Row(PassengerId='50', Survived='0', Pclass='3', Name='Arnold-Franchi, Mrs. Josef (Josefine Franchi)', Sex='female', Age='18', SibSp='1', Parch='0', Ticket='349237', Fare='17.8', Cabin=None, Embarked='S'),
 Row(PassengerId='51', Survived='0', Pclass='3', Name='Panula, Master. Juha Niilo', Sex='male', Age='7', SibSp='4', Parch='1', Ticket='3101295', Fare='39.6875', Cabin=None, Embarked='S'),
 Row(PassengerId='52', Survived='0', Pclass='3', Name='Nosworthy, Mr. Richard Cater', Sex='male', Age='21', SibSp='0', Parch='0', Ticket='A/4. 39886', Fare='7.8', Cabin=None, Embarked='S'),
 Row(PassengerId='53', Survived='1', Pclass='1', Name='Harper, Mrs. Henry Sleeper (Myna Haxtun)', Sex='female', Age='49', SibSp='1', Parch='0', Ticket='PC 17572', Fare='76.7292', Cabin='D33', Embarked='C'),
 Row(PassengerId='54', Survived='1', Pclass='2', Name='Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', Sex='female', Age='29', SibSp='1', Parch='0', Ticket='2926', Fare='26', Cabin=None, Embarked='S'),
 Row(PassengerId='55', Survived='0', Pclass='1', Name='Ostby, Mr. Engelhart Cornelius', Sex='male', Age='65', SibSp='0', Parch='1', Ticket='113509', Fare='61.9792', Cabin='B30', Embarked='C'),
 Row(PassengerId='56', Survived='1', Pclass='1', Name='Woolner, Mr. Hugh', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='19947', Fare='35.5', Cabin='C52', Embarked='S'),
 Row(PassengerId='57', Survived='1', Pclass='2', Name='Rugg, Miss. Emily', Sex='female', Age='21', SibSp='0', Parch='0', Ticket='C.A. 31026', Fare='10.5', Cabin=None, Embarked='S'),
 Row(PassengerId='58', Survived='0', Pclass='3', Name='Novel, Mr. Mansouer', Sex='male', Age='28.5', SibSp='0', Parch='0', Ticket='2697', Fare='7.2292', Cabin=None, Embarked='C'),
 Row(PassengerId='59', Survived='1', Pclass='2', Name='West, Miss. Constance Mirium', Sex='female', Age='5', SibSp='1', Parch='2', Ticket='C.A. 34651', Fare='27.75', Cabin=None, Embarked='S'),
 Row(PassengerId='60', Survived='0', Pclass='3', Name='Goodwin, Master. William Frederick', Sex='male', Age='11', SibSp='5', Parch='2', Ticket='CA 2144', Fare='46.9', Cabin=None, Embarked='S'),
 Row(PassengerId='61', Survived='0', Pclass='3', Name='Sirayanian, Mr. Orsen', Sex='male', Age='22', SibSp='0', Parch='0', Ticket='2669', Fare='7.2292', Cabin=None, Embarked='C'),
 Row(PassengerId='62', Survived='1', Pclass='1', Name='Icard, Miss. Amelie', Sex='female', Age='38', SibSp='0', Parch='0', Ticket='113572', Fare='80', Cabin='B28', Embarked=None),
 Row(PassengerId='63', Survived='0', Pclass='1', Name='Harris, Mr. Henry Birkhardt', Sex='male', Age='45', SibSp='1', Parch='0', Ticket='36973', Fare='83.475', Cabin='C83', Embarked='S'),
 Row(PassengerId='64', Survived='0', Pclass='3', Name='Skoog, Master. Harald', Sex='male', Age='4', SibSp='3', Parch='2', Ticket='347088', Fare='27.9', Cabin=None, Embarked='S'),
 Row(PassengerId='65', Survived='0', Pclass='1', Name='Stewart, Mr. Albert A', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='PC 17605', Fare='27.7208', Cabin=None, Embarked='C'),
 Row(PassengerId='66', Survived='1', Pclass='3', Name='Moubarek, Master. Gerios', Sex='male', Age=None, SibSp='1', Parch='1', Ticket='2661', Fare='15.2458', Cabin=None, Embarked='C'),
 Row(PassengerId='67', Survived='1', Pclass='2', Name='Nye, Mrs. (Elizabeth Ramell)', Sex='female', Age='29', SibSp='0', Parch='0', Ticket='C.A. 29395', Fare='10.5', Cabin='F33', Embarked='S'),
 Row(PassengerId='68', Survived='0', Pclass='3', Name='Crease, Mr. Ernest James', Sex='male', Age='19', SibSp='0', Parch='0', Ticket='S.P. 3464', Fare='8.1583', Cabin=None, Embarked='S'),
 Row(PassengerId='69', Survived='1', Pclass='3', Name='Andersson, Miss. Erna Alexandra', Sex='female', Age='17', SibSp='4', Parch='2', Ticket='3101281', Fare='7.925', Cabin=None, Embarked='S'),
 Row(PassengerId='70', Survived='0', Pclass='3', Name='Kink, Mr. Vincenz', Sex='male', Age='26', SibSp='2', Parch='0', Ticket='315151', Fare='8.6625', Cabin=None, Embarked='S'),
 Row(PassengerId='71', Survived='0', Pclass='2', Name='Jenkin, Mr. Stephen Curnow', Sex='male', Age='32', SibSp='0', Parch='0', Ticket='C.A. 33111', Fare='10.5', Cabin=None, Embarked='S'),
 Row(PassengerId='72', Survived='0', Pclass='3', Name='Goodwin, Miss. Lillian Amy', Sex='female', Age='16', SibSp='5', Parch='2', Ticket='CA 2144', Fare='46.9', Cabin=None, Embarked='S'),
 Row(PassengerId='73', Survived='0', Pclass='2', Name='Hood, Mr. Ambrose Jr', Sex='male', Age='21', SibSp='0', Parch='0', Ticket='S.O.C. 14879', Fare='73.5', Cabin=None, Embarked='S'),
 Row(PassengerId='74', Survived='0', Pclass='3', Name='Chronopoulos, Mr. Apostolos', Sex='male', Age='26', SibSp='1', Parch='0', Ticket='2680', Fare='14.4542', Cabin=None, Embarked='C'),
 Row(PassengerId='75', Survived='1', Pclass='3', Name='Bing, Mr. Lee', Sex='male', Age='32', SibSp='0', Parch='0', Ticket='1601', Fare='56.4958', Cabin=None, Embarked='S'),
 Row(PassengerId='76', Survived='0', Pclass='3', Name='Moen, Mr. Sigurd Hansen', Sex='male', Age='25', SibSp='0', Parch='0', Ticket='348123', Fare='7.65', Cabin='F G73', Embarked='S'),
 Row(PassengerId='77', Survived='0', Pclass='3', Name='Staneff, Mr. Ivan', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='349208', Fare='7.8958', Cabin=None, Embarked='S'),
 Row(PassengerId='78', Survived='0', Pclass='3', Name='Moutal, Mr. Rahamin Haim', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='374746', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='79', Survived='1', Pclass='2', Name='Caldwell, Master. Alden Gates', Sex='male', Age='0.83', SibSp='0', Parch='2', Ticket='248738', Fare='29', Cabin=None, Embarked='S'),
 Row(PassengerId='80', Survived='1', Pclass='3', Name='Dowdell, Miss. Elizabeth', Sex='female', Age='30', SibSp='0', Parch='0', Ticket='364516', Fare='12.475', Cabin=None, Embarked='S'),
 Row(PassengerId='81', Survived='0', Pclass='3', Name='Waelens, Mr. Achille', Sex='male', Age='22', SibSp='0', Parch='0', Ticket='345767', Fare='9', Cabin=None, Embarked='S'),
 Row(PassengerId='82', Survived='1', Pclass='3', Name='Sheerlinck, Mr. Jan Baptist', Sex='male', Age='29', SibSp='0', Parch='0', Ticket='345779', Fare='9.5', Cabin=None, Embarked='S'),
 Row(PassengerId='83', Survived='1', Pclass='3', Name='McDermott, Miss. Brigdet Delia', Sex='female', Age=None, SibSp='0', Parch='0', Ticket='330932', Fare='7.7875', Cabin=None, Embarked='Q'),
 Row(PassengerId='84', Survived='0', Pclass='1', Name='Carrau, Mr. Francisco M', Sex='male', Age='28', SibSp='0', Parch='0', Ticket='113059', Fare='47.1', Cabin=None, Embarked='S'),
 Row(PassengerId='85', Survived='1', Pclass='2', Name='Ilett, Miss. Bertha', Sex='female', Age='17', SibSp='0', Parch='0', Ticket='SO/C 14885', Fare='10.5', Cabin=None, Embarked='S'),
 Row(PassengerId='86', Survived='1', Pclass='3', Name='Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', Sex='female', Age='33', SibSp='3', Parch='0', Ticket='3101278', Fare='15.85', Cabin=None, Embarked='S'),
 Row(PassengerId='87', Survived='0', Pclass='3', Name='Ford, Mr. William Neal', Sex='male', Age='16', SibSp='1', Parch='3', Ticket='W./C. 6608', Fare='34.375', Cabin=None, Embarked='S'),
 Row(PassengerId='88', Survived='0', Pclass='3', Name='Slocovski, Mr. Selman Francis', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='SOTON/OQ 392086', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='89', Survived='1', Pclass='1', Name='Fortune, Miss. Mabel Helen', Sex='female', Age='23', SibSp='3', Parch='2', Ticket='19950', Fare='263', Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId='90', Survived='0', Pclass='3', Name='Celotti, Mr. Francesco', Sex='male', Age='24', SibSp='0', Parch='0', Ticket='343275', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='91', Survived='0', Pclass='3', Name='Christmann, Mr. Emil', Sex='male', Age='29', SibSp='0', Parch='0', Ticket='343276', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='92', Survived='0', Pclass='3', Name='Andreasson, Mr. Paul Edvin', Sex='male', Age='20', SibSp='0', Parch='0', Ticket='347466', Fare='7.8542', Cabin=None, Embarked='S'),
 Row(PassengerId='93', Survived='0', Pclass='1', Name='Chaffee, Mr. Herbert Fuller', Sex='male', Age='46', SibSp='1', Parch='0', Ticket='W.E.P. 5734', Fare='61.175', Cabin='E31', Embarked='S'),
 Row(PassengerId='94', Survived='0', Pclass='3', Name='Dean, Mr. Bertram Frank', Sex='male', Age='26', SibSp='1', Parch='2', Ticket='C.A. 2315', Fare='20.575', Cabin=None, Embarked='S'),
 Row(PassengerId='95', Survived='0', Pclass='3', Name='Coxon, Mr. Daniel', Sex='male', Age='59', SibSp='0', Parch='0', Ticket='364500', Fare='7.25', Cabin=None, Embarked='S'),
 Row(PassengerId='96', Survived='0', Pclass='3', Name='Shorney, Mr. Charles Joseph', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='374910', Fare='8.05', Cabin=None, Embarked='S'),
 Row(PassengerId='97', Survived='0', Pclass='1', Name='Goldschmidt, Mr. George B', Sex='male', Age='71', SibSp='0', Parch='0', Ticket='PC 17754', Fare='34.6542', Cabin='A5', Embarked='C'),
 Row(PassengerId='98', Survived='1', Pclass='1', Name='Greenfield, Mr. William Bertram', Sex='male', Age='23', SibSp='0', Parch='1', Ticket='PC 17759', Fare='63.3583', Cabin='D10 D12', Embarked='C'),
 Row(PassengerId='99', Survived='1', Pclass='2', Name='Doling, Mrs. John T (Ada Julia Bone)', Sex='female', Age='34', SibSp='0', Parch='1', Ticket='231919', Fare='23', Cabin=None, Embarked='S'),
 Row(PassengerId='100', Survived='0', Pclass='2', Name='Kantor, Mr. Sinai', Sex='male', Age='34', SibSp='1', Parch='0', Ticket='244367', Fare='26', Cabin=None, Embarked='S'),
 Row(PassengerId='101', Survived='0', Pclass='3', Name='Petranec, Miss. Matilda', Sex='female', Age='28', SibSp='0', Parch='0', Ticket='349245', Fare='7.8958', Cabin=None, Embarked='S'),
 Row(PassengerId='102', Survived='0', Pclass='3', Name='"Petroff, Mr. Pastcho (""Pentcho"")"', Sex='male', Age=None, SibSp='0', Parch='0', Ticket='349215', Fare='7.8958', Cabin=None, Embarked='S'),
 Row(PassengerId='103', Survived='0', Pclass='1', Name='White, Mr. Richard Frasar', Sex='male', Age='21', SibSp='0', Parch='1', Ticket='35281', Fare='77.2875', Cabin='D26', Embarked='S'),
 Row(PassengerId='104', Survived='0', Pclass='3', Name='Johansson, Mr. Gustaf Joel', Sex='male', Age='33', SibSp='0', Parch='0', Ticket='7540', Fare='8.6542', Cabin=None, Embarked='S'),
 Row(PassengerId='105', Survived='0', Pclass='3', Name='Gustafsson, Mr. Anders Vilhelm', Sex='male', Age='37', SibSp='2', Parch='0', Ticket='3101276', Fare='7.925', Cabin=None, Embarked='S'),

In [361]:
df.head()

Row(PassengerId='1', Survived='0', Pclass='3', Name='Braund, Mr. Owen Harris', Sex='male', Age='22', SibSp='1', Parch='0', Ticket='A/5 21171', Fare='7.25', Cabin=None, Embarked='S')

In [362]:
df.take(3)

[Row(PassengerId='1', Survived='0', Pclass='3', Name='Braund, Mr. Owen Harris', Sex='male', Age='22', SibSp='1', Parch='0', Ticket='A/5 21171', Fare='7.25', Cabin=None, Embarked='S'),
 Row(PassengerId='2', Survived='1', Pclass='1', Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age='38', SibSp='1', Parch='0', Ticket='PC 17599', Fare='71.2833', Cabin='C85', Embarked='C'),
 Row(PassengerId='3', Survived='1', Pclass='3', Name='Heikkinen, Miss. Laina', Sex='female', Age='26', SibSp='0', Parch='0', Ticket='STON/O2. 3101282', Fare='7.925', Cabin=None, Embarked='S')]

In [363]:
df.tail(3)

[Row(PassengerId='889', Survived='0', Pclass='3', Name='"Johnston, Miss. Catherine Helen ""Carrie"""', Sex='female', Age=None, SibSp='1', Parch='2', Ticket='W./C. 6607', Fare='23.45', Cabin=None, Embarked='S'),
 Row(PassengerId='890', Survived='1', Pclass='1', Name='Behr, Mr. Karl Howell', Sex='male', Age='26', SibSp='0', Parch='0', Ticket='111369', Fare='30', Cabin='C148', Embarked='C'),
 Row(PassengerId='891', Survived='0', Pclass='3', Name='Dooley, Mr. Patrick', Sex='male', Age='32', SibSp='0', Parch='0', Ticket='370376', Fare='7.75', Cabin=None, Embarked='Q')]

In [364]:
df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [365]:
df2.head()

Row(Year='2008', Month='1', DayofMonth='3', DayOfWeek='4', DepTime='1343', CRSDepTime='1325', ArrTime='1451', CRSArrTime='1435', UniqueCarrier='WN', FlightNum='588', TailNum='N240WN', ActualElapsedTime='68', CRSElapsedTime='70', AirTime='55', ArrDelay='16', DepDelay='18', Origin='HOU', Dest='LIT', Distance='393', TaxiIn='4', TaxiOut='9', Cancelled='0', CancellationCode=None, Diverted='0', CarrierDelay='16', WeatherDelay='0', NASDelay='0', SecurityDelay='0', LateAircraftDelay='0')

# 데이터 프레임에서 특정 컬럼 선택해 출력하기 
* .select('컬럼명').show()

In [366]:
df.select('Age').show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

In [367]:
df.select(df['Age']).show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

In [368]:
df.select(df.Age).show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

# 여러 컬럼을 선택할 때
* .select(['컬럼명1', '컬럼명2'])

In [369]:
df.select(['Age','Sex']).show()

+----+------+
| Age|   Sex|
+----+------+
|  22|  male|
|  38|female|
|  26|female|
|  35|female|
|  35|  male|
|null|  male|
|  54|  male|
|   2|  male|
|  27|female|
|  14|female|
|   4|female|
|  58|female|
|  20|  male|
|  39|  male|
|  14|female|
|  55|female|
|   2|  male|
|null|  male|
|  31|female|
|null|female|
+----+------+
only showing top 20 rows

In [370]:
df.select(f.col("Age")).show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

# 각 컬럼의 데이터 타입 출려하기 
* .dtypes

In [371]:
df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [372]:
df2.dtypes

[('Year', 'string'),
 ('Month', 'string'),
 ('DayofMonth', 'string'),
 ('DayOfWeek', 'string'),
 ('DepTime', 'string'),
 ('CRSDepTime', 'string'),
 ('ArrTime', 'string'),
 ('CRSArrTime', 'string'),
 ('UniqueCarrier', 'string'),
 ('FlightNum', 'string'),
 ('TailNum', 'string'),
 ('ActualElapsedTime', 'string'),
 ('CRSElapsedTime', 'string'),
 ('AirTime', 'string'),
 ('ArrDelay', 'string'),
 ('DepDelay', 'string'),
 ('Origin', 'string'),
 ('Dest', 'string'),
 ('Distance', 'string'),
 ('TaxiIn', 'string'),
 ('TaxiOut', 'string'),
 ('Cancelled', 'string'),
 ('CancellationCode', 'string'),
 ('Diverted', 'string'),
 ('CarrierDelay', 'string'),
 ('WeatherDelay', 'string'),
 ('NASDelay', 'string'),
 ('SecurityDelay', 'string'),
 ('LateAircraftDelay', 'string')]

# spark데이터 프레임을 pandas 데이터 프레임으로 표시하기

In [373]:
import pyspark.pandas as ps

In [374]:
df.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764705882,0.5230078563411896,0.38159371492704824,260318.54916792738,32.2042079685746,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332334035,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342859718089,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0,A10,C
4,max,99,1,3,"van Melkebeke, Mr. Philemon",male,9,8,6,WE/P 5735,93.5,T,S

# 데이터 프레임 출력 행 수 정하기 
* limit(숫자)

In [375]:
df.limit(3).toPandas()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S

In [376]:
df.limit(10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

# 새로운 컬럼 추가하기
* .withColumn('컬럼명', 데이터)

In [377]:
# 타이타닉 데이터에서 SibSp, Parch 컬럼을 합쳐서 family 컬럼 만들기
df = df.withColumn('family', df['Sibsp'] + df['Parch'])

In [378]:
df.show(3)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|family|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|   1.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|   1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|   0.0|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+------+
only showing top 3 rows

In [379]:
# spark에서 .show()로 출력한 결과는 NoneType 이므로 변수에 할당하면 안됨.
df2.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   1343|      1325|   1451|      1435|           WN|      588| N240WN|               68|            70|     55|      16|      18|   HOU| LIT|     393|     4|      9|        0|            null|       0|          16|           0|       0|            0|                0|
|2008|    1|         3|        4|   1125|      1120|   1247|      1245|           WN|     1343| N523SW|               82|            85|     71|       2|       5|   HOU| MAF|     441|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   2009|      2015|   2136|      2140|           WN|     3841| N280WN|               87|            85|     71|      -4|      -6|   HOU| MAF|     441|     2|     14|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    903|       855|   1203|      1205|           WN|        3| N308SA|              120|           130|    108|      -2|       8|   HOU| MCO|     848|     5|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1423|      1400|   1726|      1710|           WN|       25| N462WN|              123|           130|    107|      16|      23|   HOU| MCO|     848|     6|     10|        0|            null|       0|          16|           0|       0|            0|                0|
|2008|    1|         3|        4|   2024|      2020|   2325|      2325|           WN|       51| N483WN|              121|           125|    101|       0|       4|   HOU| MCO|     848|    13|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1753|      1745|   2053|      2050|           WN|      940| N493WN|              120|           125|    107|       3|       8|   HOU| MCO|     848|     6|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    622|       620|    935|       930|           WN|     2621| N266WN|              133|           130|    107|       5|       2|   HOU| MCO|     848|     7|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1944|      1945|   2210|      2215|           WN|      389| N266WN|              146|           150|    124|      -5|      -1|   HOU| MDW|     937|     7|     15|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1453|      1425|   1716|      1650|           WN|      519| N514SW|              143|           145|    124|      26|      28|   HOU| MDW|     937|     6|     13|        0|            null|       0|          11|           0|       0|            0|               15|
|2008|    1|         3|        4|   2030|      2015|   2251|      2245|           WN|      894| N716SW|              141|           150|    122|       6|      15|   HOU| MDW|     937|    11|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    708|       615|    936|       840|           WN|      969| N215WN|              148|           145|    128|      56|      53|   HOU| MDW|     937|    10|     10|        0|            null|       0|          53|           0|       3|            0|                0|
|2008|    1|         3|        4|   1749|      1730|   2039|      2000|           WN|     2174| N623SW|              170|           150|    128|      39|      19|   HOU| MDW|     937|    34|      8|        0|            null|       0|          10|           0|      20|            0|                9|
|2008|    1|         3|        4|   1217|      1215|   1431|      1440|           WN|     2445| N651SW|              134|           145|    124|      -9|       2|   HOU| MDW|     937|     4|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    954|       940|   1206|      1205|           WN|     2974| N447WN|              132|           145|    120|       1|      14|   HOU| MDW|     937|     5|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1758|      1800|   1854|      1900|           WN|       41| N240WN|               56|            60|     45|      -6|      -2|   HOU| MSY|     303|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   2210|      2120|   2305|      2215|           WN|       78| N268WN|               55|            55|     44|      50|      50|   HOU| MSY|     303|     3|      8|        0|            null|       0|           6|           0|       0|            0|               44|
|2008|    1|         3|        4|    740|       740|    836|       840|           WN|      311| N504SW|               56|            60|     45|      -4|       0|   HOU| MSY|     303|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1011|      1005|   1116|      1105|           WN|      521| N332SW|               65|            60|     49|      11|       6|   HOU| MSY|     303|     4|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1612|      1520|   1707|      1620|           WN|      714| N305SW|               55|            60|     44|      47|      52|   HOU| MSY|     303|     4|      7|        0|            null|       0|           0|           0|       0|            0|               47|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [380]:
# Sibsp와 Parch는 모두 sting타입이지만 자동으로 숫자로 변환되어 계산 됨
# 저장된 데이터 타입은 double
df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string'),
 ('family', 'double')]

# 컬럼 삭제하기 
* .drop('컬럼명')

In [383]:
df = df.drop('PassengerId', 'Name', 'Sibsp', 'parch', 'Ticket')

In [384]:
df.show()

+--------+------+------+----+-------+-----+--------+------+
|Survived|Pclass|   Sex| Age|   Fare|Cabin|Embarked|family|
+--------+------+------+----+-------+-----+--------+------+
|       0|     3|  male|  22|   7.25| null|       S|   1.0|
|       1|     1|female|  38|71.2833|  C85|       C|   1.0|
|       1|     3|female|  26|  7.925| null|       S|   0.0|
|       1|     1|female|  35|   53.1| C123|       S|   1.0|
|       0|     3|  male|  35|   8.05| null|       S|   0.0|
|       0|     3|  male|null| 8.4583| null|       Q|   0.0|
|       0|     1|  male|  54|51.8625|  E46|       S|   0.0|
|       0|     3|  male|   2| 21.075| null|       S|   4.0|
|       1|     3|female|  27|11.1333| null|       S|   2.0|
|       1|     2|female|  14|30.0708| null|       C|   1.0|
|       1|     3|female|   4|   16.7|   G6|       S|   2.0|
|       1|     1|female|  58|  26.55| C103|       S|   0.0|
|       0|     3|  male|  20|   8.05| null|       S|   0.0|
|       0|     3|  male|  39| 31.275| null|       S|   6.0|
|       0|     3|female|  14| 7.8542| null|       S|   0.0|
|       1|     2|female|  55|     16| null|       S|   0.0|
|       0|     3|  male|   2| 29.125| null|       Q|   5.0|
|       1|     2|  male|null|     13| null|       S|   0.0|
|       0|     3|female|  31|     18| null|       S|   1.0|
|       1|     3|female|null|  7.225| null|       C|   0.0|
+--------+------+------+----+-------+-----+--------+------+
only showing top 20 rows

# 컬럼 이름 바꾸기
* .withColumnRenamed('원래이름', '새이름')

In [385]:
df.withColumnRenamed('Cabin', 'new_cabin').show()

+--------+------+------+----+-------+---------+--------+------+
|Survived|Pclass|   Sex| Age|   Fare|new_cabin|Embarked|family|
+--------+------+------+----+-------+---------+--------+------+
|       0|     3|  male|  22|   7.25|     null|       S|   1.0|
|       1|     1|female|  38|71.2833|      C85|       C|   1.0|
|       1|     3|female|  26|  7.925|     null|       S|   0.0|
|       1|     1|female|  35|   53.1|     C123|       S|   1.0|
|       0|     3|  male|  35|   8.05|     null|       S|   0.0|
|       0|     3|  male|null| 8.4583|     null|       Q|   0.0|
|       0|     1|  male|  54|51.8625|      E46|       S|   0.0|
|       0|     3|  male|   2| 21.075|     null|       S|   4.0|
|       1|     3|female|  27|11.1333|     null|       S|   2.0|
|       1|     2|female|  14|30.0708|     null|       C|   1.0|
|       1|     3|female|   4|   16.7|       G6|       S|   2.0|
|       1|     1|female|  58|  26.55|     C103|       S|   0.0|
|       0|     3|  male|  20|   8.05|     null|       S|   0.0|
|       0|     3|  male|  39| 31.275|     null|       S|   6.0|
|       0|     3|female|  14| 7.8542|     null|       S|   0.0|
|       1|     2|female|  55|     16|     null|       S|   0.0|
|       0|     3|  male|   2| 29.125|     null|       Q|   5.0|
|       1|     2|  male|null|     13|     null|       S|   0.0|
|       0|     3|female|  31|     18|     null|       S|   1.0|
|       1|     3|female|null|  7.225|     null|       C|   0.0|
+--------+------+------+----+-------+---------+--------+------+
only showing top 20 rows

# 컬럼 이름 여러개 바꾸기
* .withColumnsRenamed({'원래이름1':'새이름1', '원래이름2':'새이름2'}) pysaprk 3.4 버전 이후
* .withColumnRenamed('원래이름1', '새이름1').withColumnRenamed('원래이름2', '새이름2')

In [386]:
df.withColumnRenamed('Cabin' , '객실').withColumnRenamed('Age' , '나이').show()

+--------+------+------+----+-------+----+--------+------+
|Survived|Pclass|   Sex|나이|   Fare|객실|Embarked|family|
+--------+------+------+----+-------+----+--------+------+
|       0|     3|  male|  22|   7.25|null|       S|   1.0|
|       1|     1|female|  38|71.2833| C85|       C|   1.0|
|       1|     3|female|  26|  7.925|null|       S|   0.0|
|       1|     1|female|  35|   53.1|C123|       S|   1.0|
|       0|     3|  male|  35|   8.05|null|       S|   0.0|
|       0|     3|  male|null| 8.4583|null|       Q|   0.0|
|       0|     1|  male|  54|51.8625| E46|       S|   0.0|
|       0|     3|  male|   2| 21.075|null|       S|   4.0|
|       1|     3|female|  27|11.1333|null|       S|   2.0|
|       1|     2|female|  14|30.0708|null|       C|   1.0|
|       1|     3|female|   4|   16.7|  G6|       S|   2.0|
|       1|     1|female|  58|  26.55|C103|       S|   0.0|
|       0|     3|  male|  20|   8.05|null|       S|   0.0|
|       0|     3|  male|  39| 31.275|null|       S|   6.0|
|       0|     3|female|  14| 7.8542|null|       S|   0.0|
|       1|     2|female|  55|     16|null|       S|   0.0|
|       0|     3|  male|   2| 29.125|null|       Q|   5.0|
|       1|     2|  male|null|     13|null|       S|   0.0|
|       0|     3|female|  31|     18|null|       S|   1.0|
|       1|     3|female|null|  7.225|null|       C|   0.0|
+--------+------+------+----+-------+----+--------+------+
only showing top 20 rows

# 결측값인 행 찾아서 갯수 세기

In [387]:
df.columns

['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Cabin', 'Embarked', 'family']

In [388]:
for c in df.columns:
    print(c)

Survived
Pclass
Sex
Age
Fare
Cabin
Embarked
family

In [389]:
df.select(f.col("Age").isNull().cast("int")).show()

+--------------------------+
|CAST((Age IS NULL) AS INT)|
+--------------------------+
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         1|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         1|
|                         0|
|                         1|
+--------------------------+
only showing top 20 rows

In [390]:
df.select(*(f.sum(f.col(c).isNull().cast("int")).alias(c) for c in df.columns)).show()

+--------+------+---+---+----+-----+--------+------+
|Survived|Pclass|Sex|Age|Fare|Cabin|Embarked|family|
+--------+------+---+---+----+-----+--------+------+
|       0|     0|  0|177|   0|  687|       2|     0|
+--------+------+---+---+----+-----+--------+------+

# 결측값 처리
* .na.drop() 결측값이 있는 행 삭제

In [391]:
df.na.drop().toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  183 non-null    object
 1   Pclass    183 non-null    object
 2   Sex       183 non-null    object
 3   Age       183 non-null    object
 4   Fare      183 non-null    object
 5   Cabin     183 non-null    object
 6   Embarked  183 non-null    object
 7   family    183 non-null    float64
dtypes: float64(1), object(7)
memory usage: 11.6+ KB

* .na.dorp(subset='컬럼명') 특정 컬럼을 기준으로 결측이 있는 행 삭제

In [392]:
# Cabin이 결측인 행 모두 삭제
df.na.drop(subset='Age').toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    object
 1   Pclass    714 non-null    object
 2   Sex       714 non-null    object
 3   Age       714 non-null    object
 4   Fare      714 non-null    object
 5   Cabin     185 non-null    object
 6   Embarked  712 non-null    object
 7   family    714 non-null    float64
dtypes: float64(1), object(7)
memory usage: 44.8+ KB

* .na.drop(subset=['컬럼명1', '컬럼명2']) 여러 컬럼을 기준으로 결측이 있는 행 삭제

In [393]:
df.na.drop(subset=['Age','Embarked']).toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    object
 1   Pclass    712 non-null    object
 2   Sex       712 non-null    object
 3   Age       712 non-null    object
 4   Fare      712 non-null    object
 5   Cabin     183 non-null    object
 6   Embarked  712 non-null    object
 7   family    712 non-null    float64
dtypes: float64(1), object(7)
memory usage: 44.6+ KB

In [394]:
df.drop('Cabin').na.drop().toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    object
 1   Pclass    712 non-null    object
 2   Sex       712 non-null    object
 3   Age       712 non-null    object
 4   Fare      712 non-null    object
 5   Embarked  712 non-null    object
 6   family    712 non-null    float64
dtypes: float64(1), object(6)
memory usage: 39.1+ KB

# 결측값 대치 
* .na.fill('대치값', subset='컬럼명')

In [395]:
# f.mean 평균
df.select(f.mean('Age')).show()

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [396]:
df.na.fill('29', 'Age')

DataFrame[Survived: string, Pclass: string, Sex: string, Age: string, Fare: string, Cabin: string, Embarked: string, family: double]

In [283]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   Ticket       891 non-null    object
 7   Fare         891 non-null    object
 8   Cabin        204 non-null    object
 9   Embarked     889 non-null    object
 10  family       891 non-null    float64
dtypes: float64(1), object(10)
memory usage: 76.7+ KB

# 컬럼 데이터 타입 바꾸기
* .withColumn('컬럼명', '컬럼명'.cast('자료형'))

In [397]:
df.printSchema()

root
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- family: double (nullable = true)

In [398]:
# Age 컬럼의 데이터 타입을 int
df = df.withColumn('Age', df['Age'].cast('Integer'))

In [399]:
# Survived 를 int로
df = df.withColumn('Survived', df['Survived'].cast('Integer'))

In [405]:
# Pclass 를 int로
df = df.withColumn('Pclass', df['Pclass'].cast('Integer'))

In [401]:
# Fare 를 float으로 
df = df.withColumn('Fare', df['Fare'].cast('float'))

In [403]:
# Family 를 int로 
df = df.withColumn('family', df['family'].cast('int'))

In [404]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- family: integer (nullable = true)

# pyspark의 imputer를 사용한 결측값 처리

In [295]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [298]:
df.select(f.sum(df['Age'].isNull().cast('int'))).show()

+-------------------------------+
|sum(CAST((Age IS NULL) AS INT))|
+-------------------------------+
|                            177|
+-------------------------------+

In [310]:
df2 = df2.withColumn('Age', df['Age'].cast('Integer'))

In [311]:
df2.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [312]:
from pyspark.ml.feature import Imputer

In [315]:
# setStrategy('mean', 'median', 'mode')
imputer = Imputer(inputCols=['Age'], outputCols=['Age']).setStrategy('median')
imputer.fit(df2).transform(df2).show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 28|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 28|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 28|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# 원하는 조검의 행/컬럼 필터링 하기
* .filter(조건)

In [316]:
df2.filter('Age > 29').show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|  PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|    113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|    373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|     17463|51.8625|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|    113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|    347082| 31.275| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|    248706|     16| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|    345763|     18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|    239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|    248698|     13|  D56|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female| 38|    1|    5|    347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male| 40|    0|    0|  PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male| 66|    0|    0|C.A. 24579|   10.5| null|       S|
|         36|       0|     1|Holverson, Mr. Al...|  male| 42|    1|    0|    113789|     52| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female| 40|    1|    0|      7546|  9.475| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|    1|    0|  PC 17572|76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male| 65|    0|    1|    113509|61.9792|  B30|       C|
|         62|       1|     1| Icard, Miss. Amelie|female| 38|    0|    0|    113572|     80|  B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male| 45|    1|    0|     36973| 83.475|  C83|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male| 32|    0|    0|C.A. 33111|   10.5| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
only showing top 20 rows

# 2개 이상의 조건으로 검색할 때
* pandas의 .loc와 비슷한 문법 .loc => .filter

In [321]:
# 나이가 20살 초과 50살 미만
df2.filter((df2['Age'] > 20) & (df2['Age'] < 50)).show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|     18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|          239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|          248698|     13|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male| 28|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female| 38|    1|    5|          347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male| 40|    0|    0|        PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male| 28|    1|    0|        PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male| 42|    1|    0|          113789|     52| null|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|  male| 21|    0|    0|      A./5. 2152|   8.05| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female| 40|    1|    0|            7546|  9.475| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female| 27|    1|    0|           11668|     21| null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male| 21|    0|    0|      A/4. 39886|    7.8| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|    1|    0|        PC 17572|76.7292|  D33|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [320]:
# 나이가 20살 초과 50살 미만 이면서 남자인 사람
df2.filter((df2['Age'] > 20) & (df2['Age'] < 50) & (df2['Sex'] == 'male')).show()

+-----------+--------+------+--------------------+----+---+-----+-----+------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex|Age|SibSp|Parch|      Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+---+-----+-----+------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male| 22|    1|    0|   A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male| 35|    0|    0|      373450|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|male| 39|    1|    5|      347082| 31.275| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|male| 35|    0|    0|      239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|male| 34|    0|    0|      248698|     13|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|male| 28|    0|    0|      113788|   35.5|   A6|       S|
|         31|       0|     1|Uruchurtu, Don. M...|male| 40|    0|    0|    PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|male| 28|    1|    0|    PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|male| 42|    1|    0|      113789|     52| null|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|male| 21|    0|    0|  A./5. 2152|   8.05| null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|male| 21|    0|    0|  A/4. 39886|    7.8| null|       S|
|         58|       0|     3| Novel, Mr. Mansouer|male| 28|    0|    0|        2697| 7.2292| null|       C|
|         61|       0|     3|Sirayanian, Mr. O...|male| 22|    0|    0|        2669| 7.2292| null|       C|
|         63|       0|     1|Harris, Mr. Henry...|male| 45|    1|    0|       36973| 83.475|  C83|       S|
|         70|       0|     3|   Kink, Mr. Vincenz|male| 26|    2|    0|      315151| 8.6625| null|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|male| 32|    0|    0|  C.A. 33111|   10.5| null|       S|
|         73|       0|     2|Hood, Mr. Ambrose Jr|male| 21|    0|    0|S.O.C. 14879|   73.5| null|       S|
|         74|       0|     3|Chronopoulos, Mr....|male| 26|    1|    0|        2680|14.4542| null|       C|
|         75|       1|     3|       Bing, Mr. Lee|male| 32|    0|    0|        1601|56.4958| null|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|male| 25|    0|    0|      348123|   7.65|F G73|       S|
+-----------+--------+------+--------------------+----+---+-----+-----+------------+-------+-----+--------+
only showing top 20 rows

# 원하는 조건으로 필터링 후 특정 컬럼만 보기

In [322]:
df2.filter((df2['Age'] > 20) & (df2['Age'] < 50) & (df2['Sex'] == 'male')).select(['Name','Age','Sex']).show()

+--------------------+---+----+
|                Name|Age| Sex|
+--------------------+---+----+
|Braund, Mr. Owen ...| 22|male|
|Allen, Mr. Willia...| 35|male|
|Andersson, Mr. An...| 39|male|
|Fynney, Mr. Joseph J| 35|male|
|Beesley, Mr. Lawr...| 34|male|
|Sloper, Mr. Willi...| 28|male|
|Uruchurtu, Don. M...| 40|male|
|Meyer, Mr. Edgar ...| 28|male|
|Holverson, Mr. Al...| 42|male|
|Cann, Mr. Ernest ...| 21|male|
|Nosworthy, Mr. Ri...| 21|male|
| Novel, Mr. Mansouer| 28|male|
|Sirayanian, Mr. O...| 22|male|
|Harris, Mr. Henry...| 45|male|
|   Kink, Mr. Vincenz| 26|male|
|Jenkin, Mr. Steph...| 32|male|
|Hood, Mr. Ambrose Jr| 21|male|
|Chronopoulos, Mr....| 26|male|
|       Bing, Mr. Lee| 32|male|
|Moen, Mr. Sigurd ...| 25|male|
+--------------------+---+----+
only showing top 20 rows

# 특정 조건이 아닌 행 보기 ~ 로 부정

In [325]:
df2.filter(~(df['Age'] > 30) & ~(df['Sex'] == 'male')).show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542| null|       S|
|         23|       1|     3|"McGowan, Miss. A...|female| 15|    0|    0|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female|  8|    3|    1|          349909| 21.075| null|       S|
|         39|       0|     3|Vander Planke, Mi...|female| 18|    2|    0|          345764|     18| null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female| 14|    1|    0|            2651|11.2417| null|       C|
|         42|       0|     2|Turpin, Mrs. Will...|female| 27|    1|    0|           11668|     21| null|       S|
|         44|       1|     2|Laroche, Miss. Si...|female|  3|    1|    2|   SC/Paris 2123|41.5792| null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female| 19|    0|    0|          330958| 7.8792| null|       Q|
|         50|       0|     3|Arnold-Franchi, M...|female| 18|    1|    0|          349237|   17.8| null|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female| 29|    1|    0|            2926|     26| null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female| 21|    0|    0|      C.A. 31026|   10.5| null|       S|
|         59|       1|     2|West, Miss. Const...|female|  5|    1|    2|      C.A. 34651|  27.75| null|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female| 29|    0|    0|      C.A. 29395|   10.5|  F33|       S|
|         69|       1|     3|Andersson, Miss. ...|female| 17|    4|    2|         3101281|  7.925| null|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female| 16|    5|    2|         CA 2144|   46.9| null|       S|
|         80|       1|     3|Dowdell, Miss. El...|female| 30|    0|    0|          364516| 12.475| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# groupby 연산하기
* .groupby('컬럼명').연산함수(sum, mean, max, min)

In [330]:
df2.groupby('Age').min().show()

+----+--------+
| Age|min(Age)|
+----+--------+
|  31|      31|
|  65|      65|
|  53|      53|
|  34|      34|
|  28|      28|
|  26|      26|
|  27|      27|
|  44|      44|
|  12|      12|
|  22|      22|
|  47|      47|
|null|    null|
|   1|       1|
|  52|      52|
|  13|      13|
|  16|      16|
|   6|       6|
|   3|       3|
|  20|      20|
|  40|      40|
+----+--------+
only showing top 20 rows

# groupby 후 컬럼별 다른 연산 적용하기
.agg({'컬럼명' : '연산함수', '컬럼명2' : '연산함수2}).show()

In [339]:
df2.agg({'Age' : 'mean', 'Embarked' : 'count'}).show()

+---------------+------------------+
|count(Embarked)|          avg(Age)|
+---------------+------------------+
|            889|29.679271708683473|
+---------------+------------------+

In [335]:
df2.agg(f.mean(df2['Age']), f.max(df2['Age']), f.min(df2['Age'])).show()

+------------------+--------+--------+
|          avg(Age)|max(Age)|min(Age)|
+------------------+--------+--------+
|29.679271708683473|      80|       0|
+------------------+--------+--------+

In [341]:
# 성별별, Pclass별 생존자 수 구하기
df2.groupby('Sex', 'Pclass').agg({'Survived' : 'sum'}).show()

+------+------+-------------+
|   Sex|Pclass|sum(Survived)|
+------+------+-------------+
|female|     3|         72.0|
|  male|     2|         17.0|
|female|     1|         91.0|
|  male|     1|         45.0|
|  male|     3|         47.0|
|female|     2|         70.0|
+------+------+-------------+

In [406]:
df.show()

+--------+------+------+----+-------+-----+--------+------+
|Survived|Pclass|   Sex| Age|   Fare|Cabin|Embarked|family|
+--------+------+------+----+-------+-----+--------+------+
|       0|     3|  male|  22|   7.25| null|       S|     1|
|       1|     1|female|  38|71.2833|  C85|       C|     1|
|       1|     3|female|  26|  7.925| null|       S|     0|
|       1|     1|female|  35|   53.1| C123|       S|     1|
|       0|     3|  male|  35|   8.05| null|       S|     0|
|       0|     3|  male|null| 8.4583| null|       Q|     0|
|       0|     1|  male|  54|51.8625|  E46|       S|     0|
|       0|     3|  male|   2| 21.075| null|       S|     4|
|       1|     3|female|  27|11.1333| null|       S|     2|
|       1|     2|female|  14|30.0708| null|       C|     1|
|       1|     3|female|   4|   16.7|   G6|       S|     2|
|       1|     1|female|  58|  26.55| C103|       S|     0|
|       0|     3|  male|  20|   8.05| null|       S|     0|
|       0|     3|  male|  39| 31.275| null|       S|     6|
|       0|     3|female|  14| 7.8542| null|       S|     0|
|       1|     2|female|  55|   16.0| null|       S|     0|
|       0|     3|  male|   2| 29.125| null|       Q|     5|
|       1|     2|  male|null|   13.0| null|       S|     0|
|       0|     3|female|  31|   18.0| null|       S|     1|
|       1|     3|female|null|  7.225| null|       C|     0|
+--------+------+------+----+-------+-----+--------+------+
only showing top 20 rows

In [408]:
df = df.drop('Fare', 'Cabin')
df.show()

+--------+------+------+----+--------+------+
|Survived|Pclass|   Sex| Age|Embarked|family|
+--------+------+------+----+--------+------+
|       0|     3|  male|  22|       S|     1|
|       1|     1|female|  38|       C|     1|
|       1|     3|female|  26|       S|     0|
|       1|     1|female|  35|       S|     1|
|       0|     3|  male|  35|       S|     0|
|       0|     3|  male|null|       Q|     0|
|       0|     1|  male|  54|       S|     0|
|       0|     3|  male|   2|       S|     4|
|       1|     3|female|  27|       S|     2|
|       1|     2|female|  14|       C|     1|
|       1|     3|female|   4|       S|     2|
|       1|     1|female|  58|       S|     0|
|       0|     3|  male|  20|       S|     0|
|       0|     3|  male|  39|       S|     6|
|       0|     3|female|  14|       S|     0|
|       1|     2|female|  55|       S|     0|
|       0|     3|  male|   2|       Q|     5|
|       1|     2|  male|null|       S|     0|
|       0|     3|female|  31|       S|     1|
|       1|     3|female|null|       C|     0|
+--------+------+------+----+--------+------+
only showing top 20 rows

In [418]:
df = df.na.fill(29, 'Age')

In [412]:
df.toPandas()['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [414]:
df = df.na.fill('S', 'Embarked')

In [419]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int32
 1   Pclass    891 non-null    int32
 2   Sex       891 non-null    object
 3   Age       891 non-null    int32
 4   Embarked  891 non-null    object
 5   family    891 non-null    int32
dtypes: int32(4), object(2)
memory usage: 28.0+ KB

In [420]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Embarked: string (nullable = false)
 |-- family: integer (nullable = true)

# 문자형 컬럼 레이블 인코딩 => 원핫인코딩 하기
* spark에서는 원핫 인코딩을 문자에서 바로 할 수 없다.
* StringIdexer -> OneHotEncoding 순서로 해야 함.

In [428]:
# 레이블 인코딩 하기 scikit-learn의 label encoding과 같은 역할
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=['Sex', 'Embarked'], outputCols=["SexIndex", "EmbarkedIndex"])
indexed = indexer.fit(df).transform(df)

In [429]:
indexed.show()

+--------+------+------+---+--------+------+--------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|family|SexIndex|EmbarkedIndex|
+--------+------+------+---+--------+------+--------+-------------+
|       0|     3|  male| 22|       S|     1|     0.0|          0.0|
|       1|     1|female| 38|       C|     1|     1.0|          1.0|
|       1|     3|female| 26|       S|     0|     1.0|          0.0|
|       1|     1|female| 35|       S|     1|     1.0|          0.0|
|       0|     3|  male| 35|       S|     0|     0.0|          0.0|
|       0|     3|  male| 29|       Q|     0|     0.0|          2.0|
|       0|     1|  male| 54|       S|     0|     0.0|          0.0|
|       0|     3|  male|  2|       S|     4|     0.0|          0.0|
|       1|     3|female| 27|       S|     2|     1.0|          0.0|
|       1|     2|female| 14|       C|     1|     1.0|          1.0|
|       1|     3|female|  4|       S|     2|     1.0|          0.0|
|       1|     1|female| 58|       S|     0|     1.0|          0.0|
|       0|     3|  male| 20|       S|     0|     0.0|          0.0|
|       0|     3|  male| 39|       S|     6|     0.0|          0.0|
|       0|     3|female| 14|       S|     0|     1.0|          0.0|
|       1|     2|female| 55|       S|     0|     1.0|          0.0|
|       0|     3|  male|  2|       Q|     5|     0.0|          2.0|
|       1|     2|  male| 29|       S|     0|     0.0|          0.0|
|       0|     3|female| 31|       S|     1|     1.0|          0.0|
|       1|     3|female| 29|       C|     0|     1.0|          1.0|
+--------+------+------+---+--------+------+--------+-------------+
only showing top 20 rows

In [430]:
# 원핫인코딩 하기
from pyspark.ml.feature import OneHotEncoder
encoder = OneHotEncoder(inputCols=["SexIndex", "EmbarkedIndex"], outputCols=['Sex_vec', 'Embarked_vec'])
one_hot = encoder.fit(indexed).transform(indexed)

In [431]:
one_hot.show()

+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|family|SexIndex|EmbarkedIndex|      Sex_vec| Embarked_vec|
+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+
|       0|     3|  male| 22|       S|     1|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1|female| 38|       C|     1|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female| 26|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 35|       S|     1|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 35|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 29|       Q|     0|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       0|     1|  male| 54|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male|  2|       S|     4|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3|female| 27|       S|     2|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 14|       C|     1|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female|  4|       S|     2|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 58|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 20|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 39|       S|     6|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 14|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 55|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male|  2|       Q|     5|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       1|     2|  male| 29|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 31|       S|     1|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     3|female| 29|       C|     0|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+
only showing top 20 rows

In [434]:
one_hot = one_hot.drop('Sex', 'Embarked', 'SexIndex', 'EmbarkedIndex')

# 종속 변수 인덱싱, 독립변수 인덱싱