In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./data/부동산실거래가1998-2023.csv")

In [3]:
data.head(2)

                  시군구    단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0  강원특별자치도 양구군 양구읍 상리     경림    59.40  200509      5000  11  1998
1        경기도 의정부시 민락동  한라비발디    84.99  200510     12750  19  2003

In [4]:
data = data.drop(['시군구', '단지명'], axis=1)

In [18]:
data.tail()

         전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
9591223    84.96  202308     15700   2  1994
9591224    84.68  202308     20700   3  2002
9591225    84.95  202308     40200  11  2019
9591226    99.87  202308     50000  13  2019
9591227    99.80  202308     46000   3  2019

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   전용면적(㎡)   float64
 1   계약년월      int64
 2   거래금액(만원)  int64
 3   층         int64
 4   건축년도      int64
dtypes: float64(1), int64(4)
memory usage: 365.9 MB

In [7]:
X = data.drop('거래금액(만원)', axis=1)
y = data['거래금액(만원)']

In [8]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
X_scale = rs.fit_transform(X)

In [9]:
X_scale = pd.DataFrame(X_scale, columns=X.columns)

In [10]:
X_scale

          전용면적(㎡)      계약년월         층      건축년도
0       -0.575108 -1.101996  0.333333 -0.166667
1        0.431184 -1.100887  1.222222  0.250000
2       -0.556311 -1.100887 -0.555556 -0.250000
3       -0.951435 -1.100887  0.000000 -0.166667
4        2.190523 -1.099778  0.333333 -0.666667
...           ...       ...       ...       ...
9591223  0.430004  0.892461 -0.666667 -0.500000
9591224  0.418993  0.892461 -0.555556  0.166667
9591225  0.429611  0.892461  0.333333  1.583333
9591226  1.016319  0.892461  0.555556  1.583333
9591227  1.013567  0.892461 -0.555556  1.583333

[9591228 rows x 4 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.4, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=10)

In [12]:
len(X_train)

5754736

In [13]:
len(X_valid)

1918246

In [14]:
len(X_test)

1918246

In [15]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
pred = dtr.predict(X_valid)
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

259026325.21882135
0.6087670215349245

In [16]:
# 변수/모델에 저장되어 있는 데이터를 파일로 만들어 주는 라이브러리
import joblib

In [17]:
joblib.dump(dtr, './apart_model.model')

['./apart_model.model']