In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
from ydata_profiling import ProfileReport

C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [63]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/shopping-data.csv")
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [65]:
pf = ProfileReport(data)
pf.to_file("쇼핑.html")

Summarize dataset: 100%|████████████████████████████████████████████████████| 30/30 [00:03<00:00,  8.05it/s, Completed]
Generate report structure: 100%|█████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.92s/it]
Render HTML: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.65it/s]
Export report to file: 100%|████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.92it/s]

# 계층적 군집 분석
* 비지도 학습
* 데이터가 적을 경우 사용
* 거리 계산 지표
* 단일연결법(최소연결법)
* 완전연결법(최장연결법)
* 평균연결법
* 중심연결법
* 와드연결법
* 덴드로그램으로 계층적 군집 시각화

In [66]:
import scipy.cluster.hierarchy as shc

In [67]:
data = pd.get_dummies(data, drop_first=True)
data.head()

   CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  Genre_Male
0           1   19                  15                      39        True
1           2   21                  15                      81        True
2           3   20                  16                       6       False
3           4   23                  16                      77       False
4           5   31                  17                      40       False

In [68]:
data

     CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  Genre_Male
0             1   19                  15                      39        True
1             2   21                  15                      81        True
2             3   20                  16                       6       False
3             4   23                  16                      77       False
4             5   31                  17                      40       False
..          ...  ...                 ...                     ...         ...
195         196   35                 120                      79       False
196         197   45                 126                      28       False
197         198   32                 126                      74        True
198         199   32                 137                      18        True
199         200   30                 137                      83        True

[200 rows x 5 columns]

In [69]:
data2 = data.iloc[:, 3:5]

In [70]:
plt.switch_backend('TkAgg')

In [71]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_single")
dend = shc.dendrogram(shc.linkage(data2, method='single'))
plt.show()

In [72]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_complete")
dend = shc.dendrogram(shc.linkage(data2, method='complete'))
plt.show()

In [73]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_average")
dend = shc.dendrogram(shc.linkage(data2, method='average'))
plt.show()

In [74]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_centroid")
dend = shc.dendrogram(shc.linkage(data2, method='centroid'))
plt.show()

In [75]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_ward")
dend = shc.dendrogram(shc.linkage(data2, method='ward'))
plt.show()

In [76]:
dend

{'icoord': [[15.0, 15.0, 25.0, 25.0],
  [5.0, 5.0, 20.0, 20.0],
  [45.0, 45.0, 55.0, 55.0],
  [35.0, 35.0, 50.0, 50.0],
  [12.5, 12.5, 42.5, 42.5],
  [75.0, 75.0, 85.0, 85.0],
  [65.0, 65.0, 80.0, 80.0],
  [95.0, 95.0, 105.0, 105.0],
  [125.0, 125.0, 135.0, 135.0],
  [115.0, 115.0, 130.0, 130.0],
  [155.0, 155.0, 165.0, 165.0],
  [145.0, 145.0, 160.0, 160.0],
  [122.5, 122.5, 152.5, 152.5],
  [100.0, 100.0, 137.5, 137.5],
  [72.5, 72.5, 118.75, 118.75],
  [185.0, 185.0, 195.0, 195.0],
  [175.0, 175.0, 190.0, 190.0],
  [205.0, 205.0, 215.0, 215.0],
  [225.0, 225.0, 235.0, 235.0],
  [210.0, 210.0, 230.0, 230.0],
  [182.5, 182.5, 220.0, 220.0],
  [245.0, 245.0, 255.0, 255.0],
  [285.0, 285.0, 295.0, 295.0],
  [275.0, 275.0, 290.0, 290.0],
  [265.0, 265.0, 282.5, 282.5],
  [250.0, 250.0, 273.75, 273.75],
  [201.25, 201.25, 261.875, 261.875],
  [95.625, 95.625, 231.5625, 231.5625],
  [27.5, 27.5, 163.59375, 163.59375],
  [305.0, 305.0, 315.0, 315.0],
  [335.0, 335.0, 345.0, 345.0],
  [325.0, 325.0, 340.0, 340.0],
  [310.0, 310.0, 332.5, 332.5],
  [375.0, 375.0, 385.0, 385.0],
  [365.0, 365.0, 380.0, 380.0],
  [355.0, 355.0, 372.5, 372.5],
  [395.0, 395.0, 405.0, 405.0],
  [425.0, 425.0, 435.0, 435.0],
  [415.0, 415.0, 430.0, 430.0],
  [400.0, 400.0, 422.5, 422.5],
  [363.75, 363.75, 411.25, 411.25],
  [321.25, 321.25, 387.5, 387.5],
  [445.0, 445.0, 455.0, 455.0],
  [465.0, 465.0, 475.0, 475.0],
  [450.0, 450.0, 470.0, 470.0],
  [485.0, 485.0, 495.0, 495.0],
  [505.0, 505.0, 515.0, 515.0],
  [490.0, 490.0, 510.0, 510.0],
  [545.0, 545.0, 555.0, 555.0],
  [535.0, 535.0, 550.0, 550.0],
  [525.0, 525.0, 542.5, 542.5],
  [565.0, 565.0, 575.0, 575.0],
  [585.0, 585.0, 595.0, 595.0],
  [570.0, 570.0, 590.0, 590.0],
  [533.75, 533.75, 580.0, 580.0],
  [500.0, 500.0, 556.875, 556.875],
  [460.0, 460.0, 528.4375, 528.4375],
  [354.375, 354.375, 494.21875, 494.21875],
  [95.546875, 95.546875, 424.296875, 424.296875],
  [605.0, 605.0, 615.0, 615.0],
  [635.0, 635.0, 645.0, 645.0],
  [625.0, 625.0, 640.0, 640.0],
  [665.0, 665.0, 675.0, 675.0],
  [655.0, 655.0, 670.0, 670.0],
  [685.0, 685.0, 695.0, 695.0],
  [705.0, 705.0, 715.0, 715.0],
  [690.0, 690.0, 710.0, 710.0],
  [662.5, 662.5, 700.0, 700.0],
  [632.5, 632.5, 681.25, 681.25],
  [610.0, 610.0, 656.875, 656.875],
  [725.0, 725.0, 735.0, 735.0],
  [745.0, 745.0, 755.0, 755.0],
  [765.0, 765.0, 775.0, 775.0],
  [750.0, 750.0, 770.0, 770.0],
  [730.0, 730.0, 760.0, 760.0],
  [785.0, 785.0, 795.0, 795.0],
  [805.0, 805.0, 815.0, 815.0],
  [825.0, 825.0, 835.0, 835.0],
  [810.0, 810.0, 830.0, 830.0],
  [790.0, 790.0, 820.0, 820.0],
  [855.0, 855.0, 865.0, 865.0],
  [845.0, 845.0, 860.0, 860.0],
  [885.0, 885.0, 895.0, 895.0],
  [875.0, 875.0, 890.0, 890.0],
  [905.0, 905.0, 915.0, 915.0],
  [925.0, 925.0, 935.0, 935.0],
  [910.0, 910.0, 930.0, 930.0],
  [882.5, 882.5, 920.0, 920.0],
  [852.5, 852.5, 901.25, 901.25],
  [805.0, 805.0, 876.875, 876.875],
  [745.0, 745.0, 840.9375, 840.9375],
  [633.4375, 633.4375, 792.96875, 792.96875],
  [955.0, 955.0, 965.0, 965.0],
  [945.0, 945.0, 960.0, 960.0],
  [985.0, 985.0, 995.0, 995.0],
  [975.0, 975.0, 990.0, 990.0],
  [1015.0, 1015.0, 1025.0, 1025.0],
  [1005.0, 1005.0, 1020.0, 1020.0],
  [982.5, 982.5, 1012.5, 1012.5],
  [1045.0, 1045.0, 1055.0, 1055.0],
  [1035.0, 1035.0, 1050.0, 1050.0],
  [1085.0, 1085.0, 1095.0, 1095.0],
  [1075.0, 1075.0, 1090.0, 1090.0],
  [1065.0, 1065.0, 1082.5, 1082.5],
  [1042.5, 1042.5, 1073.75, 1073.75],
  [997.5, 997.5, 1058.125, 1058.125],
  [952.5, 952.5, 1027.8125, 1027.8125],
  [1105.0, 1105.0, 1115.0, 1115.0],
  [1135.0, 1135.0, 1145.0, 1145.0],
  [1125.0, 1125.0, 1140.0, 1140.0],
  [1110.0, 1110.0, 1132.5, 1132.5],
  [1165.0, 1165.0, 1175.0, 1175.0],
  [1155.0, 1155.0, 1170.0, 1170.0],
  [1185.0, 1185.0, 1195.0, 1195.0],
  [1205.0, 1205.0, 1215.0, 1215.0],
  [1190.0, 1190.0, 1210.0, 1210.0],
  [1162.5, 1162.5, 1200.0, 1200.0],
  [1121.25, 1121.25, 1181.25, 1181.25],
  [990.15625, 990.15625, 1151.25, 1151.25],
  [1245.0, 1245.0, 1255.0, 1255.0],
  [1235.0, 1235.0, 1250.0, 1250.0],
  [1225.0, 1225.0, 1242.5, 1242.5],
  [1275.0, 1275.0, 1285.0, 1285.0],
  [1265.0, 1265.0, 1280.0, 1280.0],
  [1305.0, 1305.0, 1315.0, 1315.0],
  [1295.0, 1295.0, 1310.0, 1310.0],
  [1272.5, 1272.5, 1302.5, 1302.5],
  [1233.75, 1233.75, 1287.5, 1287.5],
  [1355.0, 1355.0, 1365.0, 1365.0],
  [1345.0, 1345.0, 1360.0, 1360.0],
  [1335.0, 1335.0, 1352.5, 1352.5],
  [1325.0, 1325.0, 1343.75, 1343.75],
  [1375.0, 1375.0, 1385.0, 1385.0],
  [1334.375, 1334.375, 1380.0, 1380.0],
  [1260.625, 1260.625, 1357.1875, 1357.1875],
  [1425.0, 1425.0, 1435.0, 1435.0],
  [1415.0, 1415.0, 1430.0, 1430.0],
  [1405.0, 1405.0, 1422.5, 1422.5],
  [1395.0, 1395.0, 1413.75, 1413.75],
  [1455.0, 1455.0, 1465.0, 1465.0],
  [1445.0, 1445.0, 1460.0, 1460.0],
  [1404.375, 1404.375, 1452.5, 1452.5],
  [1495.0, 1495.0, 1505.0, 1505.0],
  [1485.0, 1485.0, 1500.0, 1500.0],
  [1475.0, 1475.0, 1492.5, 1492.5],
  [1515.0, 1515.0, 1525.0, 1525.0],
  [1545.0, 1545.0, 1555.0, 1555.0],
  [1535.0, 1535.0, 1550.0, 1550.0],
  [1520.0, 1520.0, 1542.5, 1542.5],
  [1483.75, 1483.75, 1531.25, 1531.25],
  [1428.4375, 1428.4375, 1507.5, 1507.5],
  [1308.90625, 1308.90625, 1467.96875, 1467.96875],
  [1070.703125, 1070.703125, 1388.4375, 1388.4375],
  [1565.0, 1565.0, 1575.0, 1575.0],
  [1585.0, 1585.0, 1595.0, 1595.0],
  [1615.0, 1615.0, 1625.0, 1625.0],
  [1605.0, 1605.0, 1620.0, 1620.0],
  [1590.0, 1590.0, 1612.5, 1612.5],
  [1570.0, 1570.0, 1601.25, 1601.25],
  [1635.0, 1635.0, 1645.0, 1645.0],
  [1665.0, 1665.0, 1675.0, 1675.0],
  [1655.0, 1655.0, 1670.0, 1670.0],
  [1640.0, 1640.0, 1662.5, 1662.5],
  [1585.625, 1585.625, 1651.25, 1651.25],
  [1735.0, 1735.0, 1745.0, 1745.0],
  [1725.0, 1725.0, 1740.0, 1740.0],
  [1715.0, 1715.0, 1732.5, 1732.5],
  [1705.0, 1705.0, 1723.75, 1723.75],
  [1695.0, 1695.0, 1714.375, 1714.375],
  [1685.0, 1685.0, 1704.6875, 1704.6875],
  [1755.0, 1755.0, 1765.0, 1765.0],
  [1775.0, 1775.0, 1785.0, 1785.0],
  [1760.0, 1760.0, 1780.0, 1780.0],
  [1694.84375, 1694.84375, 1770.0, 1770.0],
  [1815.0, 1815.0, 1825.0, 1825.0],
  [1805.0, 1805.0, 1820.0, 1820.0],
  [1795.0, 1795.0, 1812.5, 1812.5],
  [1855.0, 1855.0, 1865.0, 1865.0],
  [1845.0, 1845.0, 1860.0, 1860.0],
  [1835.0, 1835.0, 1852.5, 1852.5],
  [1875.0, 1875.0, 1885.0, 1885.0],
  [1843.75, 1843.75, 1880.0, 1880.0],
  [1803.75, 1803.75, 1861.875, 1861.875],
  [1732.421875, 1732.421875, 1832.8125, 1832.8125],
  [1905.0, 1905.0, 1915.0, 1915.0],
  [1895.0, 1895.0, 1910.0, 1910.0],
  [1945.0, 1945.0, 1955.0, 1955.0],
  [1935.0, 1935.0, 1950.0, 1950.0],
  [1925.0, 1925.0, 1942.5, 1942.5],
  [1965.0, 1965.0, 1975.0, 1975.0],
  [1985.0, 1985.0, 1995.0, 1995.0],
  [1970.0, 1970.0, 1990.0, 1990.0],
  [1933.75, 1933.75, 1980.0, 1980.0],
  [1902.5, 1902.5, 1956.875, 1956.875],
  [1782.6171875, 1782.6171875, 1929.6875, 1929.6875],
  [1618.4375, 1618.4375, 1856.15234375, 1856.15234375],
  [1229.5703125, 1229.5703125, 1737.294921875, 1737.294921875],
  [713.203125, 713.203125, 1483.4326171875, 1483.4326171875],
  [259.921875, 259.921875, 1098.31787109375, 1098.31787109375]],
 'dcoord': [[0.0, 1.0, 1.0, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.0],
  [0.0, 1.4142135623730951, 1.4142135623730951, 0.0],
  [0.0, 2.9439202887759492, 2.9439202887759492, 1.4142135623730951],
  [1.2909944487358056,
   6.928203230275509,
   6.928203230275509,
   2.9439202887759492],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.732050807568877, 1.732050807568877, 0.0],
  [1.0, 1.7320508075688772, 1.7320508075688772, 1.732050807568877],
  [1.1547005383792515,
   3.468472723015568,
   3.468472723015568,
   1.7320508075688772],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [0.0, 2.0701966780270626, 2.0701966780270626, 1.414213562373095],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [1.0, 2.972092416687835, 2.972092416687835, 1.224744871391589],
  [2.0701966780270626,
   6.510065466717857,
   6.510065466717857,
   2.972092416687835],
  [3.468472723015568,
   12.578541130421165,
   12.578541130421165,
   6.510065466717857],
  [6.928203230275509,
   25.195568393403367,
   25.195568393403367,
   12.578541130421165],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.0],
  [1.0, 2.5948667274704755, 2.5948667274704755, 1.2909944487358056],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 2.065591117977289, 2.065591117977289, 1.1547005383792515],
  [1.2909944487358056,
   4.353797831268185,
   4.353797831268185,
   2.065591117977289],
  [2.5948667274704755,
   13.018180205889603,
   13.018180205889603,
   4.353797831268185],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 2.5495097567963927, 2.5495097567963927, 1.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [1.0, 2.23606797749979, 2.23606797749979, 1.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.5811388300841895, 1.5811388300841895, 1.0],
  [1.224744871391589,
   3.5355339059327373,
   3.5355339059327373,
   1.5811388300841895],
  [2.23606797749979,
   6.7946057035465035,
   6.7946057035465035,
   3.5355339059327373],
  [2.5495097567963927,
   13.27434869714267,
   13.27434869714267,
   6.7946057035465035],
  [13.018180205889603,
   32.49404707385793,
   32.49404707385793,
   13.27434869714267],
  [25.195568393403367,
   90.92267777256306,
   90.92267777256306,
   32.49404707385793],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.1547005383792515,
   2.6367367999823097,
   2.6367367999823097,
   1.414213562373095],
  [1.1547005383792515, 4.16904693916396, 4.16904693916396, 2.6367367999823097],
  [0.0, 7.359800721939871, 7.359800721939871, 4.16904693916396],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 2.1213203435596424, 2.1213203435596424, 1.0],
  [1.0, 3.674234614174767, 3.674234614174767, 2.1213203435596424],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.0, 2.309401076758503, 2.309401076758503, 1.414213562373095],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.1547005383792515,
   1.8771812708978115,
   1.8771812708978115,
   1.414213562373095],
  [1.1547005383792515,
   2.9341990064622085,
   2.9341990064622085,
   1.8771812708978115],
  [2.309401076758503,
   7.793694032143337,
   7.793694032143337,
   2.9341990064622085],
  [3.674234614174767,
   15.028382239192371,
   15.028382239192371,
   7.793694032143337],
  [7.359800721939871,
   36.84051720137604,
   36.84051720137604,
   15.028382239192371],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.8257418583505538, 1.8257418583505538, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.8516401995451028, 1.8516401995451028, 0.0],
  [1.8257418583505538,
   3.1715308698809888,
   3.1715308698809888,
   1.8516401995451028],
  [1.1547005383792515,
   3.922731256767472,
   3.922731256767472,
   3.1715308698809888],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [1.0, 1.5705625319186332, 1.5705625319186332, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [0.0, 2.0701966780270626, 2.0701966780270626, 1.414213562373095],
  [1.5705625319186332,
   4.0923854959691965,
   4.0923854959691965,
   2.0701966780270626],
  [3.922731256767472,
   15.198879971266052,
   15.198879971266052,
   4.0923854959691965],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.8257418583505536, 1.8257418583505536, 1.1547005383792515],
  [1.224744871391589,
   2.614064523559687,
   2.614064523559687,
   1.8257418583505536],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 3.047247001100221, 3.047247001100221, 1.0],
  [2.614064523559687, 5.38048137548424, 5.38048137548424, 3.047247001100221],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 2.327373340628157, 2.327373340628157, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.632993161855452, 1.632993161855452, 1.1547005383792515],
  [1.224744871391589,
   2.4608038433722332,
   2.4608038433722332,
   1.632993161855452],
  [2.327373340628157,
   6.291009250161767,
   6.291009250161767,
   2.4608038433722332],
  [5.38048137548424,
   16.984421928205094,
   16.984421928205094,
   6.291009250161767],
  [15.198879971266052,
   46.361351342971396,
   46.361351342971396,
   16.984421928205094],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [1.0, 2.2060522810365732, 2.2060522810365732, 1.1547005383792515],
  [1.0, 3.7530939617486645, 3.7530939617486645, 2.2060522810365732],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.7320508075688772, 1.7320508075688772, 1.0],
  [1.0, 4.711687595755899, 4.711687595755899, 1.7320508075688772],
  [3.7530939617486645,
   13.94086148871794,
   13.94086148871794,
   4.711687595755899],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.5811388300841895, 1.5811388300841895, 1.0],
  [0.0, 2.0338052110179174, 2.0338052110179174, 1.5811388300841895],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.8257418583505538, 1.8257418583505538, 1.0],
  [1.224744871391589,
   3.188521078284832,
   3.188521078284832,
   1.8257418583505538],
  [2.0338052110179174, 6.74585009516914, 6.74585009516914, 3.188521078284832],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.224744871391589,
   2.4999999999999996,
   2.4999999999999996,
   1.414213562373095],
  [1.1547005383792515,
   7.299335793776241,
   7.299335793776241,
   2.4999999999999996],
  [6.74585009516914, 26.99409206647829, 26.99409206647829, 7.299335793776241],
  [13.94086148871794, 57.14158717474065, 57.14158717474065, 26.99409206647829],
  [46.361351342971396,
   124.62566291419662,
   124.62566291419662,
   57.14158717474065],
  [36.84051720137604,
   250.36244321560542,
   250.36244321560542,
   124.62566291419662],
  [90.92267777256306,
   409.3767713883886,
   409.3767713883886,
   250.36244321560542]],
 'ivl': ['191',
  '177',
  '187',
  '169',
  '17',
  '45',
  '133',
  '9',
  '139',
  '147',
  '197',
  '137',
  '21',
  '23',
  '159',
  '31',
  '37',
  '171',
  '129',
  '131',
  '5',
  '153',
  '39',
  '165',
  '15',
  '195',
  '157',
  '125',
  '3',
  '13',
  '161',
  '199',
  '35',
  '1',
  '25',
  '155',
  '151',
  '135',
  '183',
  '29',
  '143',
  '189',
  '175',
  '181',
  '145',
  '185',
  '11',
  '19',
  '7',
  '163',
  '127',
  '167',
  '141',
  '173',
  '33',
  '41',
  '149',
  '179',
  '123',
  '193',
  '156',
  '158',
  '136',
  '2',
  '6',
  '8',
  '30',
  '32',
  '22',
  '140',
  '134',
  '162',
  '130',
  '192',
  '138',
  '172',
  '128',
  '144',
  '150',
  '198',
  '154',
  '194',
  '36',
  '188',
  '174',
  '14',
  '170',
  '12',
  '24',
  '34',
  '10',
  '178',
  '176',
  '182',
  '73',
  '84',
  '119',
  '90',
  '46',
  '87',
  '75',
  '52',
  '111',
  '120',
  '60',
  '104',
  '103',
  '81',
  '61',
  '70',
  '27',
  '43',
  '88',
  '51',
  '53',
  '102',
  '65',
  '68',
  '63',
  '117',
  '86',
  '122',
  '89',
  '96',
  '47',
  '69',
  '114',
  '67',
  '101',
  '74',
  '77',
  '109',
  '113',
  '107',
  '85',
  '57',
  '59',
  '54',
  '83',
  '115',
  '106',
  '97',
  '56',
  '66',
  '72',
  '92',
  '99',
  '76',
  '78',
  '50',
  '62',
  '95',
  '110',
  '58',
  '64',
  '80',
  '38',
  '164',
  '18',
  '124',
  '168',
  '44',
  '196',
  '152',
  '166',
  '148',
  '186',
  '190',
  '112',
  '105',
  '94',
  '79',
  '71',
  '48',
  '49',
  '116',
  '118',
  '98',
  '108',
  '100',
  '91',
  '55',
  '82',
  '142',
  '121',
  '4',
  '93',
  '0',
  '184',
  '28',
  '26',
  '180',
  '132',
  '160',
  '16',
  '40',
  '20',
  '126',
  '42',
  '146'],
 'leaves': [191,
  177,
  187,
  169,
  17,
  45,
  133,
  9,
  139,
  147,
  197,
  137,
  21,
  23,
  159,
  31,
  37,
  171,
  129,
  131,
  5,
  153,
  39,
  165,
  15,
  195,
  157,
  125,
  3,
  13,
  161,
  199,
  35,
  1,
  25,
  155,
  151,
  135,
  183,
  29,
  143,
  189,
  175,
  181,
  145,
  185,
  11,
  19,
  7,
  163,
  127,
  167,
  141,
  173,
  33,
  41,
  149,
  179,
  123,
  193,
  156,
  158,
  136,
  2,
  6,
  8,
  30,
  32,
  22,
  140,
  134,
  162,
  130,
  192,
  138,
  172,
  128,
  144,
  150,
  198,
  154,
  194,
  36,
  188,
  174,
  14,
  170,
  12,
  24,
  34,
  10,
  178,
  176,
  182,
  73,
  84,
  119,
  90,
  46,
  87,
  75,
  52,
  111,
  120,
  60,
  104,
  103,
  81,
  61,
  70,
  27,
  43,
  88,
  51,
  53,
  102,
  65,
  68,
  63,
  117,
  86,
  122,
  89,
  96,
  47,
  69,
  114,
  67,
  101,
  74,
  77,
  109,
  113,
  107,
  85,
  57,
  59,
  54,
  83,
  115,
  106,
  97,
  56,
  66,
  72,
  92,
  99,
  76,
  78,
  50,
  62,
  95,
  110,
  58,
  64,
  80,
  38,
  164,
  18,
  124,
  168,
  44,
  196,
  152,
  166,
  148,
  186,
  190,
  112,
  105,
  94,
  79,
  71,
  48,
  49,
  116,
  118,
  98,
  108,
  100,
  91,
  55,
  82,
  142,
  121,
  4,
  93,
  0,
  184,
  28,
  26,
  180,
  132,
  160,
  16,
  40,
  20,
  126,
  42,
  146],
 'color_list': ['C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',

In [77]:
data2 = data.iloc[:, 3:5].values
data2[:3]

array([[39, True],
       [81, True],
       [6, False]], dtype=object)

In [78]:
from sklearn.cluster import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=5, metric='euclidean', linkage='ward')
result = cluster.fit_predict(data2)
plt.figure(figsize=(10,5))
plt.scatter(data2[:,0], data2[:,1], c=cluster.labels_, cmap='rainbow')

In [79]:
result

array([0, 3, 2, 4, 0, 4, 2, 3, 2, 4, 2, 3, 2, 4, 2, 4, 0, 4, 0, 3, 0, 4,
       2, 4, 2, 3, 0, 1, 0, 3, 2, 4, 2, 3, 2, 3, 2, 4, 0, 4, 0, 3, 0, 1,
       0, 4, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 3, 0, 4, 0, 3, 2, 4, 2, 4,
       0, 4, 2, 3, 2, 4, 2, 4, 2, 3, 0, 3, 2, 3, 0, 4, 0, 3, 2, 3, 0, 4,
       2, 3, 2, 4, 2, 4, 0, 3, 2, 3, 0, 4, 0, 3, 0, 4, 2, 4, 2, 3, 2, 3,
       2, 4, 2, 3, 0, 3, 2, 3, 0, 3, 0, 4, 2, 3, 0, 4, 2, 3, 2, 4, 0, 4,
       2, 3], dtype=int64)

In [80]:
data['cluster'] = result

In [81]:
data

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
0,1,19,15,39,True,0
1,2,21,15,81,True,3
2,3,20,16,6,False,2
3,4,23,16,77,False,4
4,5,31,17,40,False,0
...,...,...,...,...,...,...
195,196,35,120,79,False,4
196,197,45,126,28,False,0
197,198,32,126,74,True,4
198,199,32,137,18,True,2
199,200,30,137,83,True,3

In [82]:
data[data['cluster']==0]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
0,1,19,15,39,True,0
4,5,31,17,40,False,0
16,17,35,21,35,False,0
18,19,52,23,29,True,0
20,21,35,24,35,True,0
26,27,45,28,32,False,0
28,29,40,29,31,False,0
38,39,36,37,26,False,0
40,41,65,38,35,False,0
42,43,48,39,36,True,0
44,45,49,39,28,False,0
48,49,29,40,42,False,0
49,50,31,40,42,False,0
55,56,47,43,41,True,0
71,72,47,49,42,False,0
79,80,49,54,42,False,0
82,83,67,54,41,True,0
91,92,18,59,41,True,0
93,94,40,60,40,False,0
94,95,32,60,42,False,0
98,99,48,61,42,True,0
100,101,23,62,41,False,0
105,106,21,62,42,False,0
108,109,68,63,43,True,0
112,113,38,64,42,False,0
116,117,63,65,43,False,0
118,119,51,67,43,False,0
121,122,38,67,40,False,0
124,125,23,70,29,False,0
126,127,43,71,35,True,0
132,133,25,72,34,False,0
142,143,28,76,40,False,0
146,147,48,77,36,True,0
148,149,34,78,22,False,0
152,153,44,78,20,False,0
160,161,56,79,35,False,0
164,165,50,85,26,True,0
166,167,42,86,20,True,0
168,169,36,87,27,False,0
180,181,37,97,32,False,0
184,185,41,99,39,False,0
186,187,54,101,24,False,0
190,191,34,103,23,False,0
196,197,45,126,28,False,0

In [83]:
data[data['cluster']==1]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
27,28,35,28,61,True,1
43,44,31,39,61,False,1
46,47,50,40,55,False,1
47,48,27,40,47,False,1
50,51,49,42,52,False,1
...,...,...,...,...,...,...
115,116,19,65,50,False,1
117,118,49,65,59,False,1
119,120,50,67,57,False,1
120,121,27,67,56,True,1
122,123,40,69,58,False,1

In [84]:
data[data['cluster']==2]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
2,3,20,16,6,False,2
6,7,35,18,6,False,2
8,9,64,19,3,True,2
10,11,67,19,14,True,2
12,13,58,20,15,False,2
14,15,37,20,13,True,2
22,23,46,25,5,False,2
24,25,54,28,14,False,2
30,31,60,30,4,True,2
32,33,53,33,4,True,2
34,35,49,33,14,False,2
36,37,42,34,17,False,2
128,129,59,71,11,True,2
130,131,47,71,9,True,2
134,135,20,73,5,True,2
136,137,44,73,7,False,2
138,139,19,74,10,True,2
140,141,57,75,5,False,2
144,145,25,77,12,True,2
150,151,43,78,17,True,2
154,155,47,78,16,False,2
156,157,37,78,1,True,2
158,159,34,78,1,True,2
162,163,19,81,5,True,2
170,171,40,87,13,True,2
172,173,36,87,10,True,2
174,175,52,88,13,False,2
176,177,58,88,15,True,2
178,179,59,93,14,True,2
182,183,46,98,15,True,2
188,189,41,103,17,False,2
192,193,33,113,8,True,2
194,195,47,120,16,False,2
198,199,32,137,18,True,2

In [85]:
data[data['cluster']==3]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
1,2,21,15,81,True,3
7,8,23,18,94,False,3
11,12,35,19,99,False,3
19,20,35,23,98,False,3
25,26,29,28,82,True,3
29,30,23,29,87,False,3
33,34,18,33,92,True,3
35,36,21,33,81,False,3
41,42,24,38,92,True,3
123,124,39,69,91,True,3
127,128,40,71,95,True,3
135,136,29,73,88,False,3
141,142,32,75,93,True,3
143,144,32,76,87,False,3
145,146,28,77,97,True,3
149,150,34,78,90,True,3
151,152,39,78,88,True,3
155,156,27,78,89,False,3
161,162,29,79,83,False,3
163,164,31,81,93,False,3
167,168,33,86,95,False,3
173,174,36,87,92,True,3
175,176,30,88,86,False,3
179,180,35,93,90,True,3
181,182,32,97,86,False,3
183,184,29,98,88,False,3
185,186,30,99,97,True,3
189,190,36,103,85,False,3
193,194,38,113,91,False,3
199,200,30,137,83,True,3

In [86]:
data[data['cluster']==4]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
3,4,23,16,77,False,4
5,6,22,17,76,False,4
9,10,30,19,72,False,4
13,14,24,20,77,False,4
15,16,22,20,79,True,4
17,18,20,21,66,True,4
21,22,25,24,73,True,4
23,24,31,25,73,True,4
31,32,21,30,73,False,4
37,38,30,34,73,False,4
39,40,20,37,75,False,4
45,46,24,39,65,False,4
125,126,31,70,77,False,4
129,130,38,71,75,True,4
131,132,39,71,75,True,4
133,134,31,72,71,False,4
137,138,32,73,73,True,4
139,140,35,74,72,False,4
147,148,32,77,74,False,4
153,154,38,78,76,False,4
157,158,30,78,78,False,4
159,160,30,78,73,False,4
165,166,36,85,75,False,4
169,170,32,87,63,True,4
171,172,28,87,75,True,4
177,178,27,88,69,True,4
187,188,28,101,68,True,4
191,192,32,103,69,False,4
195,196,35,120,79,False,4
197,198,32,126,74,True,4

# 비계층적 군집 분석

## K-Means(K평균)을 사용한 군집 분석

* 통신사 고객 이동 데이터 분석
  * 독립변수(Feature) 20개: 회원ID, 성별, 고연령, 배우자, 피부양자, 가입기간, 전화서비스, 2회선이상, 인터넷서비스, 온라인보안, 온라인백업, 기기보호서비스, 기술지원, 스트리밍TV,스트리밍Movies, 약정옵션, 온라인고지서, 지불수단, 월요금, 합산요금
  * 종속변수(target) 1개: 이탈여부

In [12]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ADsP/main/06%EA%B3%A0%EA%B0%9D%EC%9D%B4%ED%83%88%EC%98%88%EC%B8%A1.csv", encoding='cp949')
data.head()

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [88]:
pf = ProfileReport(data)
pf.to_file("통신사고객이탈.html")

Summarize dataset:  81%|██████████████████████████████       | 26/32 [00:13<00:06,  1.06s/it, scatter 가입기간, 월요금]matrix]Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\hi\anaconda3\envs\testenv\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\matplotlib\backends\_backend_tk.py", line 552, in destroy
    Gcf.destroy(self)
  File "C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\matplotlib\_pylab_helpers.py", line 66, in destroy
    manager.destroy()
  File "C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\matplotlib\backends\_backend_tk.py", line 569, in destroy
    self._window_dpi.trace_remove('write', self._window_dpi_cbname)
  File "C:\Users\hi\anaconda3\envs\testenv\lib\tkinter\__init__.py", line 430, in trace_remove
    self._tk.deletecommand(cbname)
_tkinter.TclError: can't delete Tcl command
Summarize dataset:  85%|█████████████████████████████████▎     | 29/34 [00:15<00:04,  1.09it/s, Missing diagram matrix]C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 54924 (\N{HANGUL SYLLABLE HOE}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50896 (\N{HANGUL SYLLABLE WEON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49457 (\N{HANGUL SYLLABLE SEONG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48324 (\N{HANGUL SYLLABLE BYEOL}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 44256 (\N{HANGUL SYLLABLE GO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48176 (\N{HANGUL SYLLABLE BAE}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50864 (\N{HANGUL SYLLABLE U}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51088 (\N{HANGUL SYLLABLE JA}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 54588 (\N{HANGUL SYLLABLE PI}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48512 (\N{HANGUL SYLLABLE BU}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50577 (\N{HANGUL SYLLABLE YANG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 44032 (\N{HANGUL SYLLABLE GA}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51077 (\N{HANGUL SYLLABLE IB}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 44592 (\N{HANGUL SYLLABLE GI}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 44036 (\N{HANGUL SYLLABLE GAN}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51204 (\N{HANGUL SYLLABLE JEON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 54868 (\N{HANGUL SYLLABLE HWA}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49436 (\N{HANGUL SYLLABLE SEO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48708 (\N{HANGUL SYLLABLE BI}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49828 (\N{HANGUL SYLLABLE SEU}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49440 (\N{HANGUL SYLLABLE SEON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51060 (\N{HANGUL SYLLABLE I}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49345 (\N{HANGUL SYLLABLE SANG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51064 (\N{HANGUL SYLLABLE IN}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 53552 (\N{HANGUL SYLLABLE TEO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 45367 (\N{HANGUL SYLLABLE NES}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50728 (\N{HANGUL SYLLABLE ON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 46972 (\N{HANGUL SYLLABLE RA}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48372 (\N{HANGUL SYLLABLE BO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50504 (\N{HANGUL SYLLABLE AN}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48177 (\N{HANGUL SYLLABLE BAEG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50629 (\N{HANGUL SYLLABLE EOB}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 54840 (\N{HANGUL SYLLABLE HO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49696 (\N{HANGUL SYLLABLE SUL}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51648 (\N{HANGUL SYLLABLE JI}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 53944 (\N{HANGUL SYLLABLE TEU}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 47532 (\N{HANGUL SYLLABLE RI}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48141 (\N{HANGUL SYLLABLE MING}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50557 (\N{HANGUL SYLLABLE YAG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 51221 (\N{HANGUL SYLLABLE JEONG}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50741 (\N{HANGUL SYLLABLE OB}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49496 (\N{HANGUL SYLLABLE SYEON}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 48520 (\N{HANGUL SYLLABLE BUL}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49688 (\N{HANGUL SYLLABLE SU}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 45800 (\N{HANGUL SYLLABLE DAN}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50836 (\N{HANGUL SYLLABLE YO}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 44552 (\N{HANGUL SYLLABLE GEUM}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 54633 (\N{HANGUL SYLLABLE HAB}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 49328 (\N{HANGUL SYLLABLE SAN}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 53448 (\N{HANGUL SYLLABLE TAL}) missing from current font.
  plt.savefig(
C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 50668 (\N{HANGUL SYLLABLE YEO}) missing from current font.
  plt.savefig(

Summarize dataset: 100%|████████████████████████████████████████████████████| 34/34 [00:15<00:00,  2.13it/s, Completed]
Generate report structure:   0%|                                                                 | 0/1 [00:10<?, ?it/s]

KeyboardInterrupt:

In [13]:
data.head(2)

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원ID        7043 non-null   object
 1   성별          7043 non-null   object
 2   고연령         7043 non-null   int64
 3   배우자         7043 non-null   object
 4   피부양자        7043 non-null   object
 5   가입기간        7043 non-null   int64
 6   전화서비스       7043 non-null   object
 7   2회선이상       7043 non-null   object
 8   인터넷서비스      7043 non-null   object
 9   온라인보안       7043 non-null   object
 10  온라인백업       7043 non-null   object
 11  기기보호서비스     7043 non-null   object
 12  기술지원        7043 non-null   object
 13  스트리밍TV      7043 non-null   object
 14  스트리밍Movies  7043 non-null   object
 15  약정옵션        7043 non-null   object
 16  온라인고지서      7043 non-null   object
 17  지불수단        7043 non-null   object
 18  월요금         7043 non-null   float64
 19  합산요금        7043 non-null   object
 20  이탈여부        7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
data['합산요금'] = data['합산요금'].astype(float)

ValueError: could not convert string to float: ''

In [15]:
data['합산요금'].value_counts()

합산요금
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64

In [16]:
na_index = data[data['합산요금'] == " "].index

In [18]:
data['합산요금'] = data.apply(lambda x: x['월요금'] if x['합산요금'] == " " else x['합산요금'], axis=1)

In [19]:
data.loc[na_index]

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,52.55,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,20.25,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,80.85,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,25.75,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,56.05,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,19.85,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,25.35,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,20.0,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,19.7,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,73.35,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,61.9,No