# 코드를 구성하는 기본 도구 - 출력, 변수, 연산자

## 1. 아래와 같이 출력이 되도록 print 문을 이용해 출력하세요.
```
makit "code" lab
she's gone
```

In [ ]:
print('makeit "code" lab')
print("she's gone")

makeit "code" lab
she's gone

## 2. 10과 20을 각각 변수 a와 b에 저장하고 다음과 같이 출력하도록 코드를 작성하세요.

```
a의 값은 10
b의 값은 20
a와 b의 합은 30
```

In [ ]:
a = 10
b = 20
print("a의 값은", a)
print("b의 값은", b)
print("a와 b의 합은", a+b)

a의 값은 10
b의 값은 20
a와 b의 합은 30

## 3 다음과 같이 변수 a와 b에 숫자 10과 문자열 'makit'을 각각 저장하고,<br/> 각 변수에 곱하기 3을 한 결과가 무엇인지 적어 보세요.

```
a = 10
b = 'makit'
print(a * 3)
print(b * 3)
```

In [ ]:
a = 10
b = 'makit'
print(a * 3) # 30
print(b * 3) # makitmakitmakit

30
makitmakitmakit

## 4. 다음 코드를 수행했을 때 결과가 어떻게 나올지 적어 보세요.
```
m = 1
print(m)
m = m + 1
print(m)
m += 1
print(m)
m = m - 1
print(m)
m -= 1
print(m)
```

In [ ]:
m = 1
print(m) # 1

m = m + 1
print(m) # 2

m += 1
print(m) # 3

m = m - 1
print(m) # 2

m -= 1
print(m)  # 1

1
2
3
2
1

## 5. 30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

실행결과
```
30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75
```

In [ ]:
a = 30 // 8
b = 30 % 8

print("30을 8로 나눈 몫은", a)
print("30을 8로 나눈 나머지는", b)
print("30을 8로 나눈 결과는", 30/8)

30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75

# 컴퓨터와 묻고 답하기 그리고 문자열 다루기

## 6. 다음 코드 실행 결과를 적어 보세요.
```
print(12 + 34) # 숫자끼리 더하기
print('12' + '34') # 문자열 붙이기, 연결하기
print(2 ** 3) # 2의 3제곱
```

In [ ]:
print(12 + 34) # 숫자끼리 더하기 46
print('12' + '34') # 문자열 붙이기, 연결하기 1234
print(2 ** 3) # 2의 3제곱 8

46
1234
8

## 7. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
```
a = '시은 우진'
```
실행결과<br>

```
시은 우진 화이팅!!
________빈 줄_______
시은 우진 화이팅!!
```

In [ ]:
a = '시은 우진'
a += " 화이팅!!"
print(a)
print()
print(a)

시은 우진 화이팅!!

시은 우진 화이팅!!

## 8. 이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

```
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.
```

In [ ]:
name = input()
age = int(input())

print("이름이 무엇인가요?", name)
print("몇 살인가요?", age)
print(name, "님은 내년에는", age+1, "살이 됩니다.")

메이킷
17
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.

## 9. 정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.
실행결과
```
3
2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75
```

In [ ]:
a = 3
b = 2.5
print("a와 b의 합은", a+b)
print("a와 b의 평균값은", (a+b)/2)

a와 b의 합은 5.5
a와 b의 평균값은 2.75

## 10. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

실행결과
```
result1 = S
result2 = W
result3 = !
```

In [ ]:
makeit = 'Sieun Woojin!'

print("result1 =", makeit[0])
print("result2 =", makeit[6])
print("result3 =", makeit[-1])

result1 = S
result2 = W
result3 = !

## 11. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성해 보세요.
실행결과
```
eun Woo
Sieun
Woojin!
```

In [ ]:
makit = 'Sieun Woojin!'

print(makeit[2:-2])
print(makeit[:5])
print(makeit[6:])

eun Wooji
Sieun
Woojin!

## 12. makit 문자열 변수에는 ‘동서남북동서남북동서남북’이 저장되어 있습니다. makit 문자열 변수에서 ‘동’만 출력하는 코드를 작성하세요.
실행결과
```
동동동
```

In [ ]:
makit = '동서남북동서남북동서남북'

makit[::4]

'동동동'

## 13. makit 문자열에 ‘동서남북’이라고 저장되어 있습니다. makit 문자열 변수를 뒤집어서 ‘북남서동’으로 출력하는 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
북남서동
```

In [ ]:
makit = '동서남북'
makit[::-1]

'북남서동'

## 14. makit 문자열에 핸드폰 번호가 다음과 같이 저장되어 있습니다. ‘.‘을 ‘-’으로 변경해 다음과 같이 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
실행결과
```
010-1234-5678
```

In [ ]:
phone = '010.1234.5678'
phone.replace(".", "-")

'010-1234-5678'

## 15. 아래와 같은 코드를 수행한 결과를 적어 보세요.
```
a = 10
b = 20
print(a < b)
print(a > b)
print(7 > 8)
print(7 < 8)
print(1 <= 1)
print(1 >= 2)
print(1 == 1)
print(1 == 2)
print(1 != 1)
print(1 != 2)
```

In [ ]:
a = 10
b = 20
print(a < b) # True
print(a > b) # False
print(7 > 8) # Flase
print(7 < 8) # True
print(1 <= 1) # True
print(1 >= 2) # False
print(1 == 1) # True
print(1 == 2) # False
print(1 != 1) # False
print(1 != 2) # True

True
False
False
True
True
False
True
False
False
True

## 16. 다음 코드를 수행한 결과를 적어 보세요.
```
a = 20
b = 30
print(a > 40 and b > 40)
print(a > 20 and b > 20)
print(a < 30 and b > 30)
print(a > 10 and b > 10)
print(20 > 40 or 30 > 40)
print(20 > 20 or 30 > 20)
print(20 < 30 or 30 > 30)
print(20 > 10 or 20 > 10)
print(a != b)
print(not(a != b))
```

In [ ]:
a = 20
b = 30
print(a > 40 and b > 40)  # False and False : False
print(a > 20 and b > 20)  # Flase and True : False
print(a < 30 and b > 30)  # True and False : False
print(a > 10 and b > 10)  # True and True : True
print(20 > 40 or 30 > 40) # False or False : False
print(20 > 20 or 30 > 20) # False or True : True
print(20 < 30 or 30 > 30) # True or False : True
print(20 > 10 or 20 > 10) # True or True : True
print(a != b)             # True
print(not(a != b))        # False

False
False
False
True
False
True
True
True
True
False

## 17. 초를 입력하면 ‘몇 분 몇 초’로 환산해주는 코드를 다음과 같이 출력하도록 작성하세요.
실행결과
```
초를 입력하세요:1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다
```

In [ ]:
sec = int(input("초를 입력하세요: "))
min = sec // 60
sec2 = sec % 60
print(sec, "초(sec)는", min,"분(min)", sec2, "초(sec2)입니다."   )

초를 입력하세요: 1234
1234 초(sec)는 20 분(min) 34 초(sec2)입니다.

## 18. 다음과 같이 시간을 분 단위로 입력하면 며칠, 몇 시간, 몇 분으로 환산해서 출력하는 코드를 작성하세요.
실행결과
```
분을 입력하세요:7512
7512 분은 5 일 5 시간 12 분입니다
```

In [ ]:
time = int(input("분을 입력하세요: "))
day = time // (60 * 24)
hour = (time % (60 * 24)) // 60
min = (time % (60 * 24)) % 60
print(time, "분은", day, "일", hour, "시간", min,"분입니다.")

분을 입력하세요: 7512
7512 분은 5 일 5 시간 12 분입니다.

# 리스트(list) 다루기

## 19. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진', '시은']
메이킷
우진
시은
```

In [ ]:
L = ['메이킷', '우진', '시은']
print(L)
print(L[0])
print(L[1])
print(L[2])

['메이킷', '우진', '시은']
메이킷
우진
시은

## 20.다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']
```

In [ ]:
a = ['메이킷','우진','제임스','시은']

print(a[:2])
print(a[1:])
print(a[2:])
print(a[:])

['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']

## 21. 리스트 추가, 삭제하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하여 전체 코드를 입력하세요.<br>
실행결과
```
['우진', '시은', '메이킷']
['우진', '시은']
```

In [ ]:
a = ['우진','시은']
a.append('메이킷') # 리스트에 마지막 자료 추가하기
print(a)
del a[-1] # 리스트의 마지막 자료 삭제하기
print(a)

['우진', '시은', '메이킷']
['우진', '시은']

## 22. 리스트 원하는 위치에 삽입하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '하워드', '시은', '메이킷']
```

In [ ]:
a = ['우진','시은','메이킷']

a.insert(1, "하워드")
print(a)

['우진', '하워드', '시은', '메이킷']

## 23. 리스트 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']
```

In [ ]:
a = ['우진', '시은']
b = ['메이킷', '소피아', '하워드']

print(a + b)
print(b)

['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']

## 24. 공백 리스트와 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']
```

In [ ]:
a = ['우진','시은']
b = ['메이킷','소피아','하워드']
c = []

c.extend(a)
print(c)
c.extend(b)
print(c)

['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']

## 25. 리스트의 개수인 길이 구하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5
```

In [ ]:
a = [3, 7, 4, 5, 6, 8]

print("리스트 a의 개수 즉 길이는", len(a))
print("리스트 a의 숫자들의 평균은", sum(a)/len(a))

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

## 26. 리스트 잘라내기(슬라이싱)
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']
```

In [ ]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

print("b :", a[:5])
print("c :", a[5:])
print("d :", a[4:6])
print("e :", a[::2])
print("f :", a[1::2])

b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']

## 27. 리스트 거꾸로 잘라내기
a = [‘형우’, ’윤진 ', '시은', '우진']과 같은 리스트가 있을 때 리스트 슬라이싱으로 리스트 순서가 거꾸로 바뀐 리스트를 생성해서 출력하세요. 아래 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '윤진', '형우']
```

In [ ]:
a = ['형우', '윤진', '시은', '우진']

print(a[::-1])

['우진', '시은', '윤진', '형우']

## 28. 리스트 안에 리스트
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
```
메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98
```

In [ ]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]

print(a[0][0], "학생의 시험 점수는", a[0][1])
print(a[1][0], "학생의 시험 점수는", a[1][1])
print(a[2][0], "학생의 시험 점수는", a[2][1])

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

## 29. 리스트 안에 있는 문자로 하나의 문자열 만들기(join)
a = [‘시은’, ’우진’, ’지연’, ’지훈’]과 같이 우리 반 학생들 이름이 저장된 리스트가 있습니다. 이 리스트의 문자열들을 연결(join)해 하나의 문자열을 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
시은 우진 지훈 지연
```

In [ ]:
a = ['시은', '우진', '지훈', '지연']

' '.join(a)

'시은 우진 지훈 지연'

## 30. 문자열 분리해 리스트 만들기(split)
a = '시은 우진 지훈 지연'과 같이 우리 반 학생들 이름이 저장된 문자열이 있습니다. 공백이 나올 때마다 문자열을 분리해(split) 하나의 리스트를 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['시은', '우진', '지훈', '지연']
```

In [ ]:
a = '시은 우진 지훈 지연'

a.split()

['시은', '우진', '지훈', '지연']

## 31. 여러 개의 값 입력받기(input + split)
세 개의 숫자를 입력받아 가장 작은 숫자를 출력하는 코드를 작성하세요.<br>
입력
```
10 2 123
```
출력
```
2
```

In [ ]:
x1, y1, z1 = map(int, input().split())
print(min(x1, y1, z1))

10 2 123

TypeError: ignored

# 가제트 만능 팔 - 딕셔너리

## 49.우리 반 학생들의 이름과 나이 저장하기
우리 반 학생들의 이름과 나이가 적힌 명단이 있습니다. 이 명단을 파이썬 자료형 딕셔너리(dictionary)를 활용해 저장하려고 합니다. 우리 반 학생들 명단은 아래와 같을 때 저장하는 코드를 작성하고 다음과 같이 출력하세요.<br>
![img80]()

실행결과
```
{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
```

In [ ]:
class_mate = {'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
print(class_mate)

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

## 50. 자기 소개하기
아래와 같은 내용을 저장하는 딕셔너리 자료형을 s로 만들고 s를 활용해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳 : 서울<br>
성별 : 여자<br>
이름 : 시은<br>
나이 : 11<br>
혈액형 : b

---

실행결과
```
내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 살 이고 혈액형은 b 형입니다.
```

In [ ]:
s = dict(사는곳 = '서울', 성별 = '여자', 이름 = '시은', 나이 = 11, 혈액형 = 'b')
print(f"내가 살고 있는 곳은 {s['사는곳']} 입니다.")
print(f"나의 성별은 {s['성별']} 이고 이름은 {s['이름']} 입니다.")
print(f"나이는 {s['나이']} 살 이고 혈액형은 {s['혈액형']} 형입니다.")

내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 살 이고 혈액형은 b 형입니다.

## 51.딕셔너리에 추가하기
아래와 같은 내용을 저장하는 딕셔너리 자료형 s를 만들고, 나이와 혈액형을 입력받아 딕셔너리 s에 입력받은 자료를 추가해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳: 인천 송도
성별: 남자
이름: 우진

---

실행결과
```
# 입력
나이는 몇 살인가요?9
혈액형은 무엇인가요?b

# 출력
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 9 살 이고 혈액형은 b 형입니다.
```

In [ ]:
s = dict([('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')])

print("나의 성별은 {0} 이고 이름은 {1} 입니다.".format(s['성별'], s['이름']))

나의 성별은 남자 이고 이름은 우진 입니다.

## 52. 딕셔너리에서 삭제하기
다음 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성해서 입력하세요.

```
{'성별': '남자', '이름': '우진'}
```

In [ ]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}

s.pop('사는 곳')
print(s)

{'성별': '남자', '이름': '우진'}

## 53.딕셔너리에서 뽑아내기 keys(), values(), items()
아래와 같은 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성하세요.

```
['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]
```

In [ ]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}
print(list(s.keys()))
print(list(s.values()))
print(list(s.items()))

['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]

## 54. 딕셔너리와 if 조건문의 만남
store 딕셔너리에 다음과 같이 물건이름과 가격이 저장되어 있습니다.
```
#코드
store = {'새우칩':1500, '옥수수칩':1800,'콜라':700,'양파칩':1300}
```
아래 실행 결과와 같이 물건의 이름을 입력하면 가격을 알려주는 코드를 작성하세요. 단, 딕셔너리에 없는 물건을 입력하면 실행을 중단합니다.

실행결과
```
물품을 입력하면 가격을 알려드립니다
물품 이름은?새우칩
새우칩의 가격은 1500 입니다
물품 이름은?양파칩
양파칩의 가격은 1300 입니다
물품 이름은?콜라
콜라의 가격은 700 입니다
물품 이름은?사이다
사이다는 등록되어 있지 않습니다
```

## 55. 딕셔너리의 값으로 리스트 사용하기
우리 가게 물품 리스트는 아래와 같습니다.

![image55.png]()

이 자료를 store 딕셔너리에 추가하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

실행결과
```
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게는 4 개의 물건 종류가 있습니다
우리 가게 모든 물건 수량은 10 개 있습니다
우리 가게 모든 물건들의 가격 총합은 12200 입니다
우리 가게 모든 물건들의 평균 가격은 1220.0 원입니다
```

In [ ]:
store = dict(새우칩 = (1500, 3), 옥수수칩 = (1800, 2), 콜라 = (700, 4), 양파칩 = (1300, 1))
print(f"1 번 물품은 {list(store.keys())[0]} 이고 가격은 {list(store.values())[0][0]} 이고 수량은 {list(store.values())[0][1]} 개입니다")
print(f"2 번 물품은 {list(store.keys())[1]} 이고 가격은 {list(store.values())[1][0]} 이고 수량은 {list(store.values())[1][1]} 개입니다")
print(f"3 번 물품은 {list(store.keys())[2]} 이고 가격은 {list(store.values())[2][0]} 이고 수량은 {list(store.values())[2][1]} 개입니다")
print(f"4 번 물품은 {list(store.keys())[3]} 이고 가격은 {list(store.values())[3][0]} 이고 수량은 {list(store.values())[3][1]} 개입니다")
print(f"우리 가게에는 {len(store)} 개의 물건 종류가 있습니다.")
print(f'우리 가게 모든 물건 수량은 {list(store.values())[0][1] + list(store.values())[1][1] + list(store.values())[2][1] + list(store.values())[3][1]} 개의 물건 종류가 있습니다.')
print('우리 가게 모든 물건들의 가격 총합은 {} 입니다.'.format(
    (list(store.values())[0][0] * list(store.values())[0][1]) + \
    (list(store.values())[1][0] * list(store.values())[1][1]) + \
    (list(store.values())[2][0] * list(store.values())[2][1]) + \
    (list(store.values())[3][0] * list(store.values())[3][1])))

1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

In [ ]:
store2 = dict(새우칩 = (1500, 3), 옥수수칩 = (1800, 2), 콜라 = (700, 4), 양파칩 = (1300, 1))
prod = list(store2.keys())
price_num = list(store2.values())
print(price_num)

print(f"1 번 물품은 {prod[0]} 이고 가격은 {price_num[0][0]} 이고 수량은 {price_num[0][1]} 개입니다")
print(f"2 번 물품은 {prod[1]} 이고 가격은 {price_num[1][0]} 이고 수량은 {price_num[1][1]} 개입니다")
print(f"3 번 물품은 {prod[2]} 이고 가격은 {price_num[2][0]} 이고 수량은 {price_num[2][1]} 개입니다")
print(f"4 번 물품은 {prod[3]} 이고 가격은 {price_num[3][0]} 이고 수량은 {price_num[3][1]} 개입니다")
print(f"우리 가게에는 {len(store2)} 개의 물건 종류가 있습니다.")
print(f'우리 가게 모든 물건 수량은 {price_num[0][1] + price_num[1][1] + price_num[2][1] + price_num[3][1]} 개의 물건 종류가 있습니다.')
print('우리 가게 모든 물건들의 가격 총합은 {} 입니다.'.format(
    (price_num[0][0] * price_num[0][1]) + \
    (price_num[1][0] * price_num[1][1]) + \
    (price_num[2][0] * price_num[2][1]) + \
    (price_num[3][0] * price_num[3][1])))

[(1500, 3), (1800, 2), (700, 4), (1300, 1)]
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

In [ ]:
store3 = dict(물품이름 = ['새우칩','옥수수칩','콜라','양파칩'], 가격 = [1500,1800,700,1300], \
              개수 = [3,2,4,1])
print(store3['물품이름'][0])
print(sum(store3['개수']))
print(f"1 번 물품은 {store3['물품이름'][0]} 이고 가격은 {store3['가격'][0]} 이고 수량은 {store3['개수'][0]} 개입니다.")
print(f"2 번 물품은 {store3['물품이름'][1]} 이고 가격은 {store3['가격'][1]} 이고 수량은 {store3['개수'][1]} 개입니다")
print(f"3 번 물품은 {store3['물품이름'][2]} 이고 가격은 {store3['가격'][2]} 이고 수량은 {store3['개수'][2]} 개입니다")
print(f"4 번 물품은 {store3['물품이름'][3]} 이고 가격은 {store3['가격'][3]} 이고 수량은 {store3['개수'][3]} 개입니다")
print(f"우리 가게에는 {len(store3['물품이름'])} 개의 물건 종류가 있습니다.")
print(f'우리 가게 모든 물건 수량은 {sum(store3["개수"])} 개의 물건 종류가 있습니다.')
print('우리 가게 모든 물건들의 가격 총합은 {} 입니다.'.format(
    (store3['가격'][0] * store3['개수'][0]) + \
    (store3['가격'][1] * store3['개수'][1]) + \
    (store3['가격'][2] * store3['개수'][2]) + \
    (store3['가격'][3] * store3['개수'][3])))

새우칩
10
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다.
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

## 56.딕셔너리의 값으로 딕셔너리 사용하기
우리 반 학생들의 명단과 학생들이 각각 수업을 듣고 있는 과목과 시험 점수가 다음과 같이 표로 정리되어 있습니다.

![image56.png]()

딕셔너리를 사용해 위 자료를 저장하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

```
우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85
```

In [ ]:
testresult = {'우진' : {'코딩' : 95, '수학' : 99}, '시은' : {'과학' : 100, '코딩' : 99},'메이킷' : {'영어' : 85, '코딩' : 100}}

print("우진이의 코딩 점수는?", testresult['우진']['코딩'])
print("시은이의 과학 점수는?", testresult['시은']['과학'])
print("메이킷의 영어 점수는?", testresult['메이킷']['영어'])

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85

# 여자는 1번 방으로, 남자는 2번 방으로 – 조건문

## 32. 두 수 비교하기
다음과 같이 정수 두 개를 x, y로 입력받아 x가 y보다 크면 'makit'을, 작거나 같으면 'woojin'을 출력하는 코드를 작성하세요.<br>
실행결과
```
첫 번째 정수를 입력하세요:7
두 번째 정수를 입력하세요:10
woojin
```

In [ ]:
x = int(input("첫 번째 정수를 입력하세요"))
y = int(input("두 번째 정수를 입력하세요"))

if x > y:
  print('makit')
else:
  print('woojin')

첫 번째 정수를 입력하세요7
두 번째 정수를 입력하세요10
woojin

## 33. 세 개의 수 비교하기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수만 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 홀수인 입력만 출력
3
17
```

In [ ]:
a = int(input("첫 번째 정수를 입력하세요"))
b = int(input("두 번째 정수를 입력하세요"))
c = int(input("세 번째 정수를 입력하세요"))

# 홀수인 입력만 출력
if a % 2 == 1:
  print(a)
if b % 2 == 1:
  print(b)
if c % 2 == 1:
  print(c)

첫 번째 정수를 입력하세요3
두 번째 정수를 입력하세요5
세 번째 정수를 입력하세요4
3
5

## 34. 홀수 찾기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수, 짝수를 구분해 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 출력
3 홀수
8 짝수
17 홀수
```

In [ ]:
a = int(input("첫 번째 정수를 입력하세요"))
b = int(input("두 번째 정수를 입력하세요"))
c = int(input("세 번째 정수를 입력하세요"))

# 홀수/짝 구분 출력
if a % 2 == 1:
  print(a, "홀수")
else:
  print(a, "짝수")
if b % 2 == 1:
  print(b, "홀수")
else:
  print(b, "짝수")
if c % 2 == 1:
  print(c, "홀수")
else:
  print(c, "짝수")

첫 번째 정수를 입력하세요3
두 번째 정수를 입력하세요6
세 번째 정수를 입력하세요9
3 홀수
6 짝수
9 홀수

## 35. 양수, 음수, 홀수, 짝수 구분하기
다음과 같이 0 이외의 정수 한 개를 입력받아, 음수 또는 양수, 짝수 또는 홀수로 구분해 출력하는 코드를 작성하세요. and와 or 연산자를 사용할 수 있으면 사용하세요.<br>
실행결과
```
-14
음수이고 짝수
```

In [ ]:
a = int(input())

if a > 0 and a % 2 == 1:
  print("양수이고 홀수")
elif a > 0 and a % 2 == 0:
  print("양수이고 짝수")
elif a < 0 and a % 2 == 1:
  print("음수이고 홀수")
elif a < 0 and a % 2 == 0:
  print("음수이고 짝수")

6
양수이고 짝수

## 36. 성적 결과 계산하기
다음 실행 결과와 같이 코딩 과목의 시험 점수를 0점 이상~100점 이하의 값으로 입력받아 학점을 출력하는 코드를 작성하세요. 코딩 점수에 따른 학점은 아래와 같습니다.<br>

---
90점 이상 : A학점<br>
80점 이상 ~ 90점 미만 : B학점<br>
70점 이상 ~ 80점 미만 : C학점<br>
60점 이상 ~ 70점 미만 : D학점<br>
60점 미만 : F학점

---

실행결과
```
코딩 점수를 입력하세요:89
B학점
```

In [ ]:
score = int(input())
if 0 <= score <= 100:
  if score >= 90:
    print("A학점")
  elif 80 <= score < 90:
    print("B학점")
  elif 70 <= score < 80:
    print("C학점")
  elif 60 <= score < 70:
    print("D학점")
  else:
    print("F학점")
else:
  print("점수 입력을 다시 해주세요.")

50
F학점

## 37. 입력에 따라 친구 이름 출력하기
m, j, w, s 입력에 따라 각각 makit, james, woojin, sieun을 출력하고 m, j, w, s 이외의 문자가 입력되면 howard를 출력하는 코드를 작성하세요.<br>
실행결과
```
s
sieun
```

In [ ]:
char = input("이름 m, j, w, s 중 하나를 입력해 주세요: ")

if char == 'm':
  print("makit")
elif char == 'j':
  print("james")
elif char == 'w':
  print("woojin")
elif char == 's':
  print("sieun")
else:
  print("howard")

이름 m, j, w, s 중 하나를 입력해 주세요: s
sieun

## 38.봄, 여름, 가을, 겨울
1~12까지 숫자를 입력하면 해당하는 달의 계절을 다음과 같이 출력하는 코드를 작성하세요. 각 월에 따른 계절은 아래 기준으로 코드를 작성하세요.<br>

---

12월 ~ 2월 : 겨울<br>
3월 ~ 5월 : 봄<br>
6월 ~ 8월 : 여름<br>
9월 ~ 11월 : 가을<br>

---

실행결과
```
몇 월 달인가요? 8
여름
```

In [ ]:
month = int(input("1-12 사이의 숫자를 입력해 주세요."))

if 1 <= month <= 12:
  if 3 <= month <= 5:
    print("봄")
  elif 6 <= month <= 8:
    print("여름")
  elif 9 <= month <= 11:
    print("가을")
  else:
    print("겨울")
else:
  print("1-12 사이의 숫자를 입력해주세요.")

## 39. 12월은 31일까지 있어요
다음과 같이 1~12까지 달을 입력받아서, 입력받은 달은 몇 일까지 있는지 출력하는 코드를 작성하세요.  참고로 각 달의 일수는 아래와 같으며, 윤년은 고려하지 않습니다.<br>

---

2월: 28일<br>
4월, 6월, 9월, 11월: 30일<br>
1월, 3월, 5월, 7월, 8월, 10월, 12월: 31일<br>

---

실행결과
```
몇 월인가요? 12
12 월은 31일까지 있습니다

몇 월인가요? 6
6 월은 30일까지 있습니다
```

In [ ]:
month = int(input("몇 월 인가요? "))
d30 = [4, 6, 9, 11]
d31 = [1, 3, 5, 7, 8, 10, 12]
if 1<= month <= 12:
  if month in d30:
    print(f'{month}월은 30일까지 있습니다.')
  elif month in d31:
    print(f'{month}월은 31일까지 있습니다.')
  else:
    print(f'{month}월은 28일까지 있습니다.')
else:
  print("1-12 사이의 숫자를 입력해 주세요")

몇 월 인가요? 3
3월은 31일까지 있습니다.

## 40. 까다로운 놀이기구 I
놀이공원에 있는 어떤 놀이기구를 타려면 특별한 조건이 필요합니다. 이름이 m으로 시작하거나 또는 키가 150cm 이상이고 170cm 미만이면 탈 수 있습니다. 그 외의 경우는 놀이기구를 탈 수 없습니다. 다음 두 가지 실행 결과 예시를 보고 놀이기구를 탈 수 있는 조건을 판별해 알려주는 코드를 작성하세요.<br>

실행결과
```
이름을 입력하세요:makit
키를 입력하세요:145.5
탈 수 있어요

이름을 입력하세요:sophia
키를 입력하세요:171.2
탈 수 없어요
```

In [ ]:
name = input("이름을 입력하세요: ")
height = float(input("키를 입력하세요: "))

if name[0] == 'm' and 150 <= height < 170:
  print("탈 수 있어요")
else:
  print("탈 수 없어요")

이름을 입력하세요: mark
키를 입력하세요: 195
탈 수 없어요

## 41. 까다로운 놀이기구 II
놀이공원에 있는 놀이기구를 타려면 특별한 조건이 있습니다 . 키가 150cm 이상이고 170cm 미만이면 이 놀이기구를 탈 수 있습니다. 또는 키가 175cm 이상이고 180cm 이하면 탈 수 있습니다. 놀이기구를 탈 수 있는 조건을 판별하는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:176
탈 수 있어요
```
```
키를 입력하세요:180
탈 수 있어요
```
```
키를 입력하세요:174
탈 수 없어요
```

In [ ]:
height = float(input("키를 입력하세요: "))

if 150 <= height < 170:
  print("탈 수 있어요")
elif 175 <= height < 180:
  print("탈 수 있어요")
else:
  print("탈 수 없어요")

키를 입력하세요: 176
탈 수 있어요

## 42. 까다로운 놀이기구 III
놀이공원 놀이기구를 타기 위해서는 특별한 조건이 있습니다. 성별이 여자이고 키가 150cm 이상, 170cm 미만이면 탈 수 있습니다. 또는 키가 5의 배수이면 탈 수 있습니다. 다음 실행 결과 예시를 보고 놀이기구를 탈수 있는 판별 기준을 알려주는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:174
성별을 입력하세요:여자
탈 수 없어요

키를 입력하세요:170
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:145
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:170
성별을 입력하세요:남자
탈 수 없어요
```

In [ ]:
height = float(input("키를 입력하세요: "))
gender = input("성별을 입력하세요: ")

if gender == '여자' and 150 <= height < 170:
  print("탈 수 있어요")
elif gender == '여자' and height % 5 == 0:
  print("탈 수 있어요")
else:
  print("탈 수 없어요")

키를 입력하세요: 170
성별을 입력하세요: 남자
탈 수 없어요

## 43. 터널 통과하기 I
높이가 150cm인 자동차가 있습니다. 목적지까지 가려면 3개의 터널을 지나가야 합니다. 그런데 터널의 높이가 자동차 높이보다 낮거나 같다면 자동차는 지나갈 수 없습니다. 터널의 높이가 차례대로 3개 주어질 때 자동차 통과할 수 있는지 없는지를 판별하는 코드를 작성하세요.<br>
실행결과
```
165 149 155
터널 통과 불가능

158 151 170
터널 통과 가능
```

In [ ]:
t1, t2, t3 = map(int, input().split())

if t1 > 150 and t2 > 150 and t3 > 150:
  print("터널 통과 가능")
else:
  print("터널 통과 불가능")

165 149 155
터널 통과 불가능

## 44. 올해는 윤년일까? Yes or No
2월이 29일까지 있는 연도를 윤년이라고 합니다. 윤년의 조건은 연도가 4의 배수이면서 100의 배수가 아니거나 400의 배수인 경우입니다. 연도를 입력하고 입력한 연도가 윤년인지 아닌지 판별하는 코드를 작성하세요.<br>
실행결과
```
연도를 입력하세요:2345
2345 년은 윤년이 아닙니다

연도를 입력하세요:2020
2020 년은 윤년입니다
```

In [ ]:
year = int(input())

if year % 4 == 0 and year % 100 == 0 or year % 400 ==0 :
  print(f"{year}는 윤년입니다.")
else:
  print(f"{year}는 윤년이 아닙니다.")

2020
2020는 윤년입니다.

## 45. 주민등록번호 분석기
주민등록번호는 생년월일과 성별 정보를 포함합니다. 801223-1234567는 80년 12월 23일 생일을 의미합니다. 이때 두 번째 숫자 리스트가1 또는 2로 시작하면 1900년대에 출생 사람을 의미하고, 1로 시작하면 남성, 2로 시작하면 여성을 의미합니다. 2000년대 출생한 남성은 3으로 시작하고 여성은 4로 시작합니다.

주민등록번호가 입력되면 다음과 같이 주민등록에 포함된 정보를 출력하도록 코드를 작성하세요. 주민등록번호 입력 시 중간에 하이픈(-)을 포함해 입력합니다.<br>
실행결과
```
주민등록번호 입력:801223-1234567
남자 1980 년 출생

주민등록번호 입력:110503-3456789
남자 2011 년 출생
```

In [ ]:
id_num = input("주민등록번호 입력: ")
if id_num[7] == '1' or id_num[7] == '2':
  if id_num[7] == '1':
    print(f"남자 19{id_num[:2]}년 출생")
  else:
    print(f"여자 19{id_num[:2]}년 출생")
if id_num[7] == '3' or id_num[7] == '4':
  if id_num[7] == '3':
    print(f"남자 20{id_num[:2]}년 출생")
  else:
    print(f"여자 20{id_num[:2]}년 출생")

주민등록번호 입력: 801223-1234567
남자 1980년 출생

## 46.‘도, 개, 걸, 윷, 모’ 윷놀이
윷놀이는 4개의 윷을 던져서 뒤집어진 상태에 따라 도, 개, 걸, 윷, 모 5가지 경우로 나누어 말을 이동하는 우리나라 전통 놀이입니다.<br>

---

도: 윷(막대) 1개가 뒤집어진 상태
개: 윷(막대) 2개가 뒤집어진 상태
걸: 윷(막대) 3개가 뒤집어진 상태
윷: 윷(막대) 4개가 뒤집어진 상태
모: 윷(막대) 하나도 뒤집어지지 않은 상태

---

다음과 같이 윷의 결과가 입력되었을 때 윷의 상태를 출력하는 코드를 작성하세요. 0은 윷이 뒤집어 지지 않은 상태이고 1은 윷이 뒤집어진 상태입니다. 윷의 상태를 1과 0으로 입력할 때 공백을 기준으로 입력합니다. 예를 들어 '1 1 1 0'과 같이 입력하면 1이 3개이므로 '걸'을 의미합니다.<br>

결과
```
1 1 1 0
걸
```

In [ ]:
yout = list(map(int, input().split()))

if sum(yout) == 0:
  print("모")
elif sum(yout) == 1:
  print("도")
elif sum(yout) == 2:
  print("개")
elif sum(yout) == 3:
  print("걸")
elif sum(yout) == 4:
  print("윳")

1 1 1 1
윳

## 47. 표준 몸무게 알아보기
BMI(Body Mass Index)는 체질량 지수로 비만도를 측정하는 수치입니다. BMI를 구하기 위해서는 키, 실제 몸무게 그리고 표준 몸무게를 알아야 합니다. 표준 몸무게와 BMI를 구하는 공식과 BMI 지수에 따른 비만도 측정 결과는 아래와 같습니다.<br>

---

BMI 지수= 몸무게(kg) / (키(m) * 키(m))<br>

저체중: 18.5 미만<br>
정상: 18.5\~22.9<br>
과체중: 23\~24.9<br>
경도 비만: 25\~29.9<br>
고도 비만: 30 이상

---

예를 들어 키가 185cm이고 몸무게가 80kg이라면 BMI 지수는 24.7이 됩니다. 다음과 같이 키, 몸무게를 차례대로 입력했을 때 BMI 지수에 따른 비만도 판정 결과를 알려주는 코드를 작성하세요.
실행결과
```
185 80
BMI 지수는 23.37472607742878 이고 과체중입니다

170 64
BMI 지수는 22.145328719723185 이고 정상 체중입니다
```

In [ ]:
height = int(input("키를 입력하세요. ")) / 100
weight = int(input("몸무게를 입력하세요"))

bmi = weight / (height * height)
if bmi < 18.5:
  print(f"BMI 지수는 {bmi}이고 저체중 입니다.")
elif 18.5 <=  bmi <= 22.9:
  print(f"BMI 지수는 {bmi}이고 정상체중 입니다.")
elif 23 <=  bmi <= 24.9:
  print(f"BMI 지수는 {bmi}이고 과체중 입니다.")
elif 25 <=  bmi <= 29.9:
  print(f"BMI 지수는 {bmi}이고 경도비만 입니다.")
elif bmi >= 30:
  print(f"BMI 지수는 {bmi}이고 고도비만 입니다.")

키를 입력하세요. 168
몸무게를 입력하세요64
BMI 지수는 22.67573696145125이고 정상체중 입니다.

## 48. 삼각형 만들기
삼각형은 세 개의 직선으로 만들어집니다. 하지만 삼각형이 만들어지려면 아래와 같은 조건을 만족해야 합니다. 세 개의 직선 길이가 입력으로 주어진다면 삼각형을 만들 수 있는지 아닌지를 판단하는 코드를 작성하세요.<br>
![이미지]()
실행결과
```
3 2 4
삼각형 가능

5 9 3
삼각형 불가
```

In [ ]:
a, b, c = map(int, input().split())
triangle = sorted([a,b,c])
if triangle[0] + triangle[1] > triangle[2]:
  print("삼각형 가능")
else:
  print("삼각형 불가")

5 9 3
삼각형 불가

# 빛의 속도로 일을 처리하기 - 반복문

## 49 로켓 발사 I
다음과 같이 1부터 10까지 출력하고 "발사!"라고 출력하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
1
2
3
4
5
6
7
8
9
10
발사!
```

In [ ]:
for i in range(1, 12):
  if i < 11:
    print(i)
  else:
    print("발사!")

1
2
3
4
5
6
7
8
9
10
발사!

## 50 로켓 발사 II
다음과 같이 1부터 10까지 출력하고 "발사!"라고 출력하는 코드를 while 반복문을 사용해 작성하세요.

실행결과
```
1
2
3
4
5
6
7
8
9
10
발사!
```

In [ ]:
i = 0
while i < 12:
  if i < 11:
    print(i)
    i += 1
  else:
    print("발사!")
    break

0
1
2
3
4
5
6
7
8
9
10
발사

## 51 로켓 발사 10초 전
다음과 같이 숫자를 입력받아 1까지 카운트다운하고 마지막에 “발사!”라고 출력하는 코드를 for 반복문을 사용해 작성하세요.


```
카운트다운 몇 초 전인가요?10
10
9
8
7
6
5
4
3
2
1
발사!
```

In [ ]:
count = int(input("카운트다운 몇 초 전인가요? "))

for i in range(count+1,0,-1):
  if i > 1:
    print(i-1)
  else:
    print("발사!")

카운트다운 몇 초 전인가요? 10
10
9
8
7
6
5
4
3
2
1
발사

## 52 1부터 100까지 모두 합한 수 I
다음과 같이 1보다 같거나 큰 숫자를 입력받은 뒤 1부터 입력받은 숫자까지의 합을 구하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
10
1부터 10 까지 모두 더한 합은 55
```

In [ ]:
num = int(input())
result = 0
for i in range(1, num+1):
  result += i
print(f"1부터 {num} 까지 모두 더한 합은: ", result)

100
1부터 100 까지 모두 더한 합은:  5050

## 53: 1부터 100까지 모두 합한 수 II
다음과 같이 1보다 같거나 큰 수를 입력받고 1부터 입력받은 수까지의 합을 구하는 코드를 while 반복문을 사용해 코드를 작성하세요

실행결과
```
# 입력
10
# 출력
1부터 10 까지 모두 더한 합은 55
```

In [ ]:
num = int(input())

i = 1
result = 0
while i < num+1:
  result += i
  i += 1
print(f"1부터 {num}까지 모두 더한 합은: ", result)

100
1부터 100까지 모두 더한 합은:  5050

## 54 음수가 나올 때까지 반복하기
다음과 같이 입력된 숫자가 0보다 같거나 큰 숫자이면 입력된 숫자를 출력하도록 반복하고, 음수가 입력되면 프로그램을 종료하는 코드를 while 반복문을 사용해 작성하세요.

실행결과
```
숫자를 입력하세요 10
입력된 숫자는 10
숫자를 입력하세요 7
입력된 숫자는 7
숫자를 입력하세요 100
입력된 숫자는 100
숫자를 입력하세요 -1
종료합니다
```

In [ ]:
while True:
  num = int(input("숫자를 입력하세요: "))
  if num >=0:
    print("입력된 숫자는 ", num)
  else:
    print("종료합니다.")
    break

숫자를 입력하세요: 10
입력된 숫자는  10
숫자를 입력하세요: -1
종료합니다.

## 55 옆으로 출력하기

다음과 같이 1부터 10까지 공백을 포함해서 한 줄로 출력하는 코드를 작성하세요.

실행결과
```
1 2 3 4 5 6 7 8 9 10
```

In [ ]:
for i in range(1, 11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

## 56 “1+2+3+4+5= 15”

다음과 같이 양의 정수 두 개를 입력받아 첫 번째 입력받은 숫자부터 두 번째 입력받은 숫자까지의 합을 구하는 코드를 작성하세요. 단, 두 번째 숫자는 첫 번째 숫자보다 큰 숫자를 입력해야 합니다.

실행결과
```
첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1+2+3+4+5+6+7+8+9+10= 55
```

In [ ]:
while True:
  num1 = int(input("첫 번째 숫자를 입력하세요 "))
  num2 = int(input("두 번째 숫자를 입력하세요 "))

  if num1 < num2:
    hap = 0
    for index, i in enumerate(range(num1, num2+1)):
      hap += i
      if index == 0:
        print(i,  end="")
      else:
        print(f"+{i}", end="")
    print(" = ", hap)
    break
  else:
    print("첫 번째 숫자는 두 번째 숫자보다 작아야 합니다. 다시 입력해주세요.")

첫 번째 숫자를 입력하세요 1
두 번째 숫자를 입력하세요 10
1+2+3+4+5+6+7+8+9+10 =  55

## 57 짝수들만 합하기

다음과 같이 양의 정수 두 개를 입력받아 첫 번째 입력받은 숫자부터 두 번째 입력받은 숫자까지 짝수 들만의 합을 구하는 코드를 작성하세요. 단, 두 번째 숫자는 첫 번째 숫자보다 큰 숫자를 입력해야 합니다.

실행결과
```
첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1부터 10까지 짝수들만의 합은 30
```

In [ ]:
while True:
  num1 = int(input("첫 번째 숫자를 입력하세요 "))
  num2 = int(input("두 번째 숫자를 입력하세요 "))

  if num1 < num2:
    hap = 0
    for i in range(num1, num2+1):
      if i % 2 == 0:
        hap += i
    print(f"{num1}부터 {num2}까지 짝수들만의 합은 ", hap)
    break
  else:
    print("첫 번째 숫자는 두 번째 숫자보다 작아야 합니다. 다시 입력해주세요.")
    print()

첫 번째 숫자를 입력하세요 5
두 번째 숫자를 입력하세요 3
첫 번째 숫자는 두 번째 숫자보다 작아야 합니다. 다시 입력해주세요.

첫 번째 숫자를 입력하세요 1
두 번째 숫자를 입력하세요 7
1부터 7까지 짝수들만의 합은  12

## 58 독특한 삼각뿔 주사위, 이중 반복문

1부터 4까지 숫자가 적힌 정삼각뿔 모양 주사위와 4부터 7까지 숫자가 적힌 삼각뿔 모양 주사위가 있습니다. 삼각뿔 주사위를 던져서 나온 숫자는 밑면에 적힌 숫자로 정합니다. 두 주사위를 순서대로 던졌을 때 나올 수 있는 숫자와 두 주사위의 합, 그리고 두 주사위를 던져서 나올 수 있는 가능한 눈의 경우의 수를 다음과 같이 출력하는 코드를 작성하세요.

![image57.png]()

## 59: RGB로 색깔 표현하기

컴퓨터에서는 색깔을 표현하기 위해서 RGB를 사용합니다. R은 RED 빨간색, G 는 GREEN 초록색, B는 BLUE 파란색입니다. RGB는 빨간색, 초록색, 파란색 각각 256개의 색으로 분류할 수 있습니다. 예를 들어, 빨간색은 아주 옅은 빨간색부터 아주 짙은 빨간색까지 256개로 나뉩니다. 이와 같을 때 컴퓨터에서 사용 가능한 색깔은 모두 몇 가지인지를 구하는 코드를 작성하세요.

실행 결과
```
가능한 색깔 개수는 16777216
```

## 60: 사각형 별 찍기
다음과 같이 *를 출력하는 코드를 for 반복문을 사용해 작성하세요

실행결과
```
****
****
****
****
```

## 61: 삼각형 별 찍기 I
다음과 같이 *를 출력하는 코드를 for 반복문을 사용해 작성하세요. 이중 for 반복문을 사용해서 코드를 작성하세요.

실행결과
```
*
**
***
****
*****
```

## 62 대각선 별 찍기

다음과 같이 *를 출력하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
*
 *
  *
   *
    *
```

## 63 삼각형 별 찍기 II
다음과 같이 *를 출력하는 코드를 이중 for 반복문을 사용해 작성하세요.

실행결과
```
*****
****
***
**
*
```

## 64 삼각형 별 찍기 III
다음과 같이 *를 출력하는 코드를 for 반복문을 사용해 작성하세요

실행결과
```
  *
 ***
*****
```

## 65 X 모양 별 찍기
다음과 같이 *를 출력하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
*         *
 *       *
  *     *
   *  *
    **
    **
   *  *
  *     *
 *       *
*         *
```

## 66: for 반복문과 문자열의 만남
다음과 같이 문자열을 입력받아서 문자열에 포함된 문자 중에서 'a' 문자는 제외하고 출력하는 코드를 작성하세요.

실행결과
```
하나의 문자열을 입력하세요:apple makit woojin james sieun
pple mkit woojin jmes sieu
```

In [ ]:
sentense = input("하나의 문자열을 입력하세요: ")

result = ""
for char in sentense:
  if char == 'a':
    continue
  else:
    result += char

print(result)

하나의 문자열을 입력하세요: apple makit woojin james sieun
pple mkit woojin jmes sieun

## 67 for 반복문과 리스트의 만남
내 친구 이름 명단이 있는 리스트를 활용해 다음과 같이 1번부터 번호를 생성해 친구를 소개하는 문구를 출력하는 코드를 작성하세요.

실행결과
```
1 번 친구 우진 을 소개합니다.
2 번 친구 시은 을 소개합니다.
3 번 친구 메이킷 을 소개합니다.
4 번 친구 지연 을 소개합니다.
5 번 친구 지훈 을 소개합니다.
```

In [ ]:
names = ['우진','시은','메이킷','지연','지훈']

for num, name in enumerate(names):
  num += 1
  print(f"{num}번 친구 {name}을 소개합니다.")

1번 친구 우진을 소개합니다.
2번 친구 시은을 소개합니다.
3번 친구 메이킷을 소개합니다.
4번 친구 지연을 소개합니다.
5번 친구 지훈을 소개합니다.

## 68 다음 반복문으로 바로가기(continue)
다음과 같이 1부터 30까지 출력하되 5의 배수는 출력하지 않도록 코드를 작성하세요.

실험결과
```
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29
```

In [ ]:
for i in range(1, 31):
  if i % 5 == 0:
    continue
  else:
    print(i, end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

## 069 반복문 깨고 바로 나가기(break)
다음과 같이 규칙에 따라 숫자가 나열된 것을 수열이라고 합니다. 3부터 시작해서 5씩 더해지는 수열이 있다면 수열의 100번째 숫자는 무엇인지 구하는 코드를 for 반복문을 사용해서 작성하세요.
```
3 8 13 18 23 ...
```
23은 수열의 5번째 숫자입니다.

In [ ]:
i = 1
num = 3
while True:
  print(f"{i}_", num, end=" ")
  num += 5
  if i == 100:
    break
  i += 1

1_ 3 2_ 8 3_ 13 4_ 18 5_ 23 6_ 28 7_ 33 8_ 38 9_ 43 10_ 48 11_ 53 12_ 58 13_ 63 14_ 68 15_ 73 16_ 78 17_ 83 18_ 88 19_ 93 20_ 98 21_ 103 22_ 108 23_ 113 24_ 118 25_ 123 26_ 128 27_ 133 28_ 138 29_ 143 30_ 148 31_ 153 32_ 158 33_ 163 34_ 168 35_ 173 36_ 178 37_ 183 38_ 188 39_ 193 40_ 198 41_ 203 42_ 208 43_ 213 44_ 218 45_ 223 46_ 228 47_ 233 48_ 238 49_ 243 50_ 248 51_ 253 52_ 258 53_ 263 54_ 268 55_ 273 56_ 278 57_ 283 58_ 288 59_ 293 60_ 298 61_ 303 62_ 308 63_ 313 64_ 318 65_ 323 66_ 328 67_ 333 68_ 338 69_ 343 70_ 348 71_ 353 72_ 358 73_ 363 74_ 368 75_ 373 76_ 378 77_ 383 78_ 388 79_ 393 80_ 398 81_ 403 82_ 408 83_ 413 84_ 418 85_ 423 86_ 428 87_ 433 88_ 438 89_ 443 90_ 448 91_ 453 92_ 458 93_ 463 94_ 468 95_ 473 96_ 478 97_ 483 98_ 488 99_ 493 100_ 498

# 문제 해결 역량 키우기

## 70 가장 작은 숫자 찾기
세 개의 숫자를 입력받아서 가장 작은 숫자를 출력하는 코드를 작성하세요.

입력결과
```
# 입력
7 3 9
# 출력
3
```

In [ ]:
num = list(map(int, input().split()))

temp = num[0]
for i in num:
  if temp >= i:
    temp = i
print(temp)

13 4567 11 0 5
0

In [ ]:
num = list(map(int, input().split()))
print(min(num))

7 3 9
3

## 71 터널 통과하기 II
터널을 통과하는 문제를 풀어 봅시다. 아래 예와 같이 첫 번째 줄에는 자동차의 높이를 입력하고 두 번째 줄에는 터널 3개의 높이를 입력합니다.

실행결과
```
150
165 149 155
```
이는 자동차의 높이는 150cm이고, 자동차가 지나가야 할 터널의 높이는 각각 165cm, 149cm, 155cm라는 뜻입니다.
터널 3개의 높이가 하나라도 자동차 높이보다 같거나 낮으면 자동차는 지나갈 수 없습니다. 터널의 높이가 차례대로 3개 주어질 때 자동차가 지나갈 수 있는지 판단해 ‘터널 통과 가능’ 또는 ‘터널 통과 불가능’이라고 출력하고 통과 불가능한 터널의 높이를 모두 출력하는 코드를 작성하세요.

실행결과1
```
# 입력
150
165 149 155

# 출력
터널 통과 불가능
149
```

실행결과2
```
# 입력
155
170 160 150

# 출력
터널 통과 불가능
150
```

실행결과3
```
# 입력
160
170 140 130

# 출력
터널 통과 불가능
140
130
```

In [ ]:
car_height = int(input("자동차의 높이: "))
t_height = list(map(int, input("자동차의 높이: ").split()))

for t in t_height:
  if car_height < t:
    continue
  else:
    print("터널 통과 불가능 ", t)

자동차의 높이: 155
자동차의 높이: 170 160 150
터널 통과 불가능  150

## 72 행운의 숫자 7 모두 찾기
1부터 1000까지의 숫자 중에서 행운의 숫자 7은 몇 번 사용되었는지 알려주는 코드를 작성하려고 합니다. 예를 들어 1부터 20까지의 숫자 중에서 7은 7과 17에서 두 번 사용했습니다. 또한, 77은 7을 두 번 사용한 것이고 777은 세 번 사용한 것입니다.

In [ ]:
num1 = int(input("첫 번째 숫자를 입력하세요 "))
num2 = int(input("두 번째 숫자를 입력하세요 "))
print()

count = 0
for i in range(num1, num2):
  i = str(i)
  for j in i:
    if j == "7":
      count += 1
print(f"{num1} 에서 {num2} 까지 7이 {count} 번 사용 되었습니다.")

첫 번째 숫자를 입력하세요 1
두 번째 숫자를 입력하세요 1000

1 에서 1000 까지 7이 300 번 사용 되었습니다.

## 73 약수 구하기
다음과 같이 자연수 n을 입력받아 n의 양의 약수를 오름차순과 내림차순으로 각각 출력하는 코드를 작성하세요.

실행결과
```
# 입력
12

# 출력
1 2 3 4 6 12
12 6 4 3 2 1
```

In [ ]:
num = int(input())
rev = []
for i in range(1, num+1):
  if num % i == 0:
    print(i, end=" ")
print()
for i in range(num, 0,-1):
  if num % i == 0:
    print(i, end=" ")

12
1 2 3 4 6 12
12 6 4 3 2 1

## 74 리스트 최대, 최소, 평균 구하기 I
다음과 같이 정수 n개를 입력받아 입력받은 수들 중에서 최댓값, 최솟값, 평균을 출력하는 코드를 작성하세요.

실행결과
```
# 입력
# 첫째 줄에 입력되는 정수의 개수 n이 주어집니다.
# 둘째 줄에 n개의 정수가 공백으로 구분되어 입력됩니다.
5
3 2 -20 100 35

# 출력
리스트 최댓값 100
리스트 최솟값 -20
리스트 평균값 24.0
```

In [ ]:
len_num = int(input("입력할 숫자 갯수: "))
print()

while True:
  nums = list(map(int, input(f"{len_num}개의 숫자를 입력해 주세요").split()))
  if len(nums) == len_num:
    print("리스트 최대값 ", max(nums))
    print("리스트 최솟값 ", min(nums))
    print("리스트 평균값 ", sum(nums)/len(nums))
    break
  else:
    print("입력된 숫자의 갯수가 일치하지 않습니다. 다시 입력해 주세요.")
    print()

입력할 숫자 갯수: 6

6개의 숫자를 입력해 주세요1 5
입력된 숫자의 갯수가 일치하지 않습니다. 다시 입력해 주세요.

6개의 숫자를 입력해 주세요5
입력된 숫자의 갯수가 일치하지 않습니다. 다시 입력해 주세요.

6개의 숫자를 입력해 주세요1 5 8 6 9 7
리스트 최대값  9
리스트 최솟값  1
리스트 평균값  6.0

## 75 리스트 최대, 최소, 평균 구하기 II

다음과 같이 정수 n개를 입력받아 최댓값, 최솟값, 평균을 구하고 출력하는 코드를 작성하세요. 단, 내장 함수를 사용하지 말고 작성해 보세요. 첫째 줄에 입력되는 정수의 개수 n이 주어지고 둘째 줄에 n개의 정수가 공백으로 구분되어 입력됩니다.

실행결과
```
# 입력
5
3 2 -20 100 35

# 출력
리스트 최댓값 100
리스트 최솟값 -20
리스트 평균값 24.0
```

In [ ]:
len_num = int(input("입력할 숫자 갯수: "))
print()

while True:
  nums = list(map(int, input(f"{len_num}개의 숫자를 입력해 주세요").split()))
  if len(nums) == len_num:
    # 최대값
    temp = nums[0]
    for i in nums:
      if temp <= i:
        temp = i
    print("리스트 최대값 ", temp)
    temp = nums[0]
    for i in nums:
      if temp >= i:
        temp = i
    print("리스트 최솟값 ", temp)
    hap = 0
    for i in nums:
      hap += i
      avg = hap/len(nums)
    print("리스트 평균값 ", avg)
    break
  else:
    print("입력된 숫자의 갯수가 일치하지 않습니다. 다시 입력해 주세요.")
    print()

입력할 숫자 갯수: 5

5개의 숫자를 입력해 주세요3 2 -20 100 35
리스트 최대값  100
리스트 최솟값  -20
리스트 평균값  24.0

## 76: 각 자릿수의 합 구하기 I
다음과 같이 자연수가 입력되면 자연수의 각 자릿수의 합을 구하는 코드를 작성하세요. 예를 들어 1234가 입력되었다면 각 자릿수의 합은 1+2+3+4 = 10 입니다.

실행결과
```
# 입력
1234

# 출력
10
```

In [ ]:
num = input()
hap = 0
for i in num:
  hap += int(i)
print(hap)

1234
10

## 77 각 자릿수의 합 구하기 II
자연수가 입력되면 자연수의 각 자릿수의 합을 구하는 코드를 작성하세요. 예를 들어 1234가 입력되었다면 각 자릿수의 합은 1+2+3+4를 하여 10입니다. 나머지 연산자 %와 몫 연산자 //를 사용해 <문제 76>과는 다른 방법으로 문제를 해결하세요.

## 78: 카이사르 암호
카이사르의 암호는 알파벳 순서대로 세 글자를 뒤로 밀어서 암호문을 만들고, 세 글자를 앞으로 당겨서 암호를 푸는 방식입니다. 예를 들어 'ABCXYZ'를 카이사르 암호 방식을 사용해 암호화하면 'DEFABC'가 됩니다. 다음과 같이 문자열을 입력받아 카이사르 암호 방식을 사용해 암호문을 생성하고 출력하는 코드를 작성하세요.

실행결과
```
# 입력
MAKIT

# 출력
PDNLW
```

In [ ]:
passwd1 = input()
new_pw = ""
for c in passwd1:
  c2n = ord(c)
  caesar = c2n+3
  new_pw += chr(caesar)
print(new_pw)

MAKIT
PDNLW

## 79: 소문자는 대문자로, 대문자는 소문자로 변환하기
다음과 같이 영어 문장을 입력받아 대문자는 소문자로 변환하고, 소문자는 대문자로 변환하는 코드를 작성하세요.

실행결과
```
# 입력
Makit Code Lab !!

# 출력
mAKIT cODE lAB !!
```

In [ ]:
# 영문 대문자는 65 ~ 90, 영문 소문자는 97 ~ 122
# 영문 소문자에서 32를 빼면 영문 대문자가 된다.
sen = input()
sen2 = ""
for c in sen:
  ascii = ord(c)
  if 65 <= ascii <= 90:
    up = ascii + 32
    sen2 += chr(up)
  elif 97 <= ascii <= 122:
    low = ascii -32
    sen2 += chr(low)
  else:
    sen2 += c

print(sen2)

Makit Code Lab !!
mAKIT cODE lAB !!