In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

## 전국 부동산 실거래가 파일이 총 296개 있음.
## 파일 목록을 불러와 1개의 데이터 프레임으로 합쳐보세요.

In [2]:
# 파일 목록 불러오기
file_list = os.listdir("C:/bigdata/data/전국부동산실거래가")
len(file_list)

296

* 부동산 실거래가 파일만 불러와서 1개의 데이터 프레임으로 만들기
  * 반복문사용해서 파일 1개씩 불러오기
  * 빈 데이터 프레임을 만들어 합치기 concat

In [3]:
# 전체 파일 목록중 마지막 8개는 부동산 실거래가 파일이 아니므로 슬라이싱으로 잘라옴
file_list[:-8]

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv']

In [4]:
# 반복문을 이용해 파일목록에서 이름을 가져와 데이터프레임으로 읽어오고 
# concat을 이용해 빈 데이터 프레임에 합치기
data_hap = pd.DataFrame()
for idx, file_name in enumerate(file_list[:-8]):
    print(idx, end="\r")
    data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')
    data_hap = pd.concat([data_hap, data])

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_11332\2571984924.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{file_name}', skiprows=15, encoding='cp949')

In [5]:
data_hap.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.400,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-
0,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.990,200510,30,"12,750",19,2003,오목로 73,NaN,,-,-
1,경기도 의정부시 신곡동,456,456,0,신일1,59.878,200510,20,"5,750",3,1997,시민로245번길 10,NaN,,-,-
2,경기도 의정부시 신곡동,727-1,727,1,풍림,49.830,200510,20,"5,500",8,1998,회룡로 245,NaN,,-,-
0,경기도 의정부시 용현동,46,46,0,용현현대1차,129.730,200511,21,"12,200",11,1992,오목로 36,NaN,,-,-

In [6]:
data_hap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9591343 entries, 0 to 30915
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), object(14)
memory usage: 1.2+ GB

In [7]:
data = data_hap

In [8]:
data = data.reset_index(drop=True)

## 데이터 타입 맞추기, 결측값 처리하기, 삭제할 컬럼 선정하기
* astype(int, float, str)
* dropna(), fillna(), isna().sum(), 
* drop('컬럼명', axis=1)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), object(14)
memory usage: 1.1+ GB

In [10]:
data.head(1)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.4,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-

In [1]:
# data['거래금액(만원)'].astype(int)

In [12]:
data['거래금액(만원)'] = data['거래금액(만원)'].str.replace(",", "")

In [13]:
data['거래금액(만원)'] = data['거래금액(만원)'].astype(int)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  int32
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), int32(1), object(13)
memory usage: 1.1+ GB

In [15]:
data.isna().sum()

시군구               0
번지              258
본번               76
부번               76
단지명               0
전용면적(㎡)           0
계약년월              0
계약일               0
거래금액(만원)          0
층                 0
건축년도            115
도로명               0
해제사유발생일     9497436
등기신청일자            0
거래유형              0
중개사소재지            0
dtype: int64

In [16]:
data.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'],
      dtype='object')

In [17]:
data = data.drop(['번지', '본번', '부번', '계약일', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'], axis=1)

In [18]:
data.head()

                  시군구     단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0  강원특별자치도 양구군 양구읍 상리      경림   59.400  200509      5000  11  1998
1        경기도 의정부시 민락동   한라비발디   84.990  200510     12750  19  2003
2        경기도 의정부시 신곡동     신일1   59.878  200510      5750   3  1997
3        경기도 의정부시 신곡동      풍림   49.830  200510      5500   8  1998
4        경기도 의정부시 용현동  용현현대1차  129.730  200511     12200  11  1992

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         object
 6   건축년도      object
dtypes: float64(1), int32(1), object(5)
memory usage: 475.6+ MB

In [20]:
data.isna().sum()

시군구           0
단지명           0
전용면적(㎡)       0
계약년월          0
거래금액(만원)      0
층             0
건축년도        115
dtype: int64

In [21]:
data = data.dropna()

In [22]:
data.isna().sum()

시군구         0
단지명         0
전용면적(㎡)     0
계약년월        0
거래금액(만원)    0
층           0
건축년도        0
dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9591228 entries, 0 to 9591342
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         object
 6   건축년도      object
dtypes: float64(1), int32(1), object(5)
memory usage: 548.8+ MB

In [24]:
data

                        시군구         단지명  전용면적(㎡)    계약년월  거래금액(만원)   층    건축년도
0        강원특별자치도 양구군 양구읍 상리          경림   59.400  200509      5000  11    1998
1              경기도 의정부시 민락동       한라비발디   84.990  200510     12750  19    2003
2              경기도 의정부시 신곡동         신일1   59.878  200510      5750   3    1997
3              경기도 의정부시 신곡동          풍림   49.830  200510      5500   8    1998
4              경기도 의정부시 용현동      용현현대1차  129.730  200511     12200  11    1992
...                     ...         ...      ...     ...       ...  ..     ...
9591338        충청북도 충주시 호암동        호반현대   84.960  202308     15700   2  1994.0
9591339        충청북도 충주시 호암동  호암리버빌(2단지)   84.680  202308     20700   3  2002.0
9591340        충청북도 충주시 호암동     호암힐데스하임   84.950  202308     40200  11  2019.0
9591341        충청북도 충주시 호암동     호암힐데스하임   99.870  202308     50000  13  2019.0
9591342        충청북도 충주시 호암동     호암힐데스하임   99.800  202308     46000   3  2019.0

[9591228 rows x 7 columns]

In [25]:
data = data.reset_index(drop=True)

In [26]:
data['건축년도'] = data['건축년도'].astype(int)

In [27]:
data['층'].unique()

array([11, 19, 3, 8, 17, 1, 2, 5, 4, 6, 14, 7, 13, 9, 16, 12, 10, 15, 23,
       21, 18, 24, 20, 22, 26, 25, 27, 29, 30, 35, 36, 28, 31, 34, 51, 37,
       41, 49, 46, -1, 32, 48, 45, 47, 40, 63, 43, 38, 33, 44, 42, 58, 54,
       39, 55, 0, 57, 65, 50, 62, 66, 68, -2, 53, 59, 56, 52, 60, 67, -3,
       64, -4, 61, 70, 69, 75, 76, 74, 73, 72, 79, 78, 80, 77, 71, 83, 81,
       82], dtype=object)

In [28]:
data[data['층'] == -4]

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도
3397370,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201201,62600,-4,2010
3436509,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201202,62600,-4,2010
3436510,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201202,65050,-4,2010
4816022,서울특별시 은평구 진관동,우물골2단지두산위브(223~244동)BL2-7,134.46,201503,55567,-4,2010

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         object
 6   건축년도      int32
dtypes: float64(1), int32(2), object(4)
memory usage: 439.1+ MB

In [30]:
data['층']= data['층'].astype(int)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         int32
 6   건축년도      int32
dtypes: float64(1), int32(3), object(3)
memory usage: 402.5+ MB

In [34]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,시군구2
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,200509,5000,11,1998,"[강원특별자치도, 양구군, 양구읍, 상리]"
1,경기도 의정부시 민락동,한라비발디,84.990,200510,12750,19,2003,"[경기도, 의정부시, 민락동]"
2,경기도 의정부시 신곡동,신일1,59.878,200510,5750,3,1997,"[경기도, 의정부시, 신곡동]"
3,경기도 의정부시 신곡동,풍림,49.830,200510,5500,8,1998,"[경기도, 의정부시, 신곡동]"
4,경기도 의정부시 용현동,용현현대1차,129.730,200511,12200,11,1992,"[경기도, 의정부시, 용현동]"

In [35]:
del data['시군구2']

In [36]:
data.head()

                  시군구     단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0  강원특별자치도 양구군 양구읍 상리      경림   59.400  200509      5000  11  1998
1        경기도 의정부시 민락동   한라비발디   84.990  200510     12750  19  2003
2        경기도 의정부시 신곡동     신일1   59.878  200510      5750   3  1997
3        경기도 의정부시 신곡동      풍림   49.830  200510      5500   8  1998
4        경기도 의정부시 용현동  용현현대1차  129.730  200511     12200  11  1992

In [37]:
data.to_csv("./data/부동산실거래가2008-2023.csv", index=False)

In [ ]:
data['단지명'].nunique()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
data['시군구'] = le.fit_transform(data['시군구'])
print(le.classes_)

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
le.classes_

In [ ]:
temp

In [ ]:
data['시군구'][3]

In [ ]:
le.inverse_transform(data['시군구'][3:4])

In [ ]:
le2 = LabelEncoder()
data['단지명'] = le2.fit_transform(data['단지명'])
print(le2.classes_)

In [ ]:
data.head()

In [ ]:
data = data.rename(columns= {'전용면적(㎡)' : '전용면적'})

In [ ]:
data.head()

In [ ]:
X = data.drop('거래금액(만원)', axis=1)
y = data['거래금액(만원)']

In [ ]:
data['전용면적'].plot(kind='box')

In [ ]:
data['거래금액(만원)'].plot(kind='box')

In [ ]:
for i in data.columns:
    data[i].plot(kind='box')

In [ ]:
cols = X.columns

In [ ]:
from sklearn.preprocessing import RobustScaler
rc = RobustScaler()
X = rc.fit_transform(X)
X = pd.DataFrame(X, columns=cols)

In [ ]:
X.head()

In [ ]:
X.info()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.4, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size= 0.5, random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_valid)
# print(accuracy_score(y_valid, pred))
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
pred = dtr.predict(X_valid)
# print(accuracy_score(y_valid, pred))
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

In [ ]:
pd.DataFrame([y_valid, pred])

In [ ]:
pred2 = dtr.predict(X_test)
print(mean_squared_error(y_test, pred2))
print(r2_score(y_test, pred2))